.comments-area {
	background-color: #FFFDF4;
	width: 100%;
}
.co-googledoc-wrapper p {
	padding: 10px 0;
}
.thread-body {
	padding: 20px;
	width: 100%;
}
.public-DraftStyleDefault-block {
	margin: 0 !important;
}
.page-add-thread .DraftEditor-root {
	border: 1px solid rgba(0,0,0,.1);
	min-height: 200px;
	margin-top: 20px;
	padding: 20px;
}

.public-DraftStyleDefault-block {
}
.w-auto {
	width: auto;
}
.co-thread-reply-wrapper {
	padding: 20px;
	width: 100%;
}
.h-100 {
	height: 100%;
}
.home-page.page-common {
    background-attachment: fixed;
    min-height: 500px;
    background-color: #F9FDFF !important;
    padding: 20px;
    margin-left: 0 !important;
    z-index: 1;
}
.project-sidebar {
    min-height: 800px;
    width: 300px;
/*    background-color: #FBFCFC;
    background-color: #011946;*/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 24px 0;
    color: white;
}
.co-sidebar {
	width: 320px;
	padding-bottom: 228px;
    overflow-y: scroll;
    background-color: #FFDDD1;
    background-color: white;
}
.co-search-wrapper {
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-right: 20px;
}
textarea {
	padding: 20px !important;
}
.header-push {
	margin-top: 140px;
}
.header-push-mini {
	margin-top: 56px;
}
.org-block {
	width: 200px;
	height: 200px;
	padding: 20px;
	flex-basis: 50%;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 10px;
	margin: 20px;
	background-color: white;
	transition: all 0.23s ease-in-out 0s;

}
.org-block:hover {
	margin-top: 18px;
	transition: all 0.23s ease-in-out 0s;

}
.org-logo {
	width: 88px;
	height: 88px;
	border-radius: 100px;
	background-color: transparent;
}
.co-logo {
	background-color: transparent;
	height: 25px;
	width: 60px;
	margin-right: 16px;
/*	box-shadow: rgba(0,0,0,.1) 0px 10px 40px;
	-webkit-animation: spin 40s infinite linear;
	animation: spin 40s infinite linear;
	moz-animation: spin 40s infinite linear;*/
}
.co-logo.large-logo {
	width: 100px;
	height: 100px;
	margin-right: 0;
	-webkit-animation: spin 50s infinite linear;
	animation: spin 50s infinite linear;
	moz-animation: spin 50s infinite linear;
}
.org-selector {
	width: 250px;
	z-index: 10;
}
.org-row {
	margin: 0px 20px 0px 20px;
	width: auto;
	text-align: left;
	background: transparent;
	padding: 10px 0;
}
.org-row.org-row-selector {
	border-bottom: 4px solid rgba(124,169,255,.3);
	border-bottom: 4px solid rgba(35,35,37,.1);
}
.org-arrow {
	position: absolute;
	right: 24px;
}
.thread-area {
    position: absolute;
    border: 20px solid #F9F3FB;
    /*box-shadow: rgba(0,0,0,.1) 10px 0px 150px;*/
    z-index: 10;
    overflow-x: hidden;
    width: auto;
    background-color: white;
    /*min-height: 1210px;*/
    left:0px;
    overflow: hidden;
    right: 0;
    min-width: 400px;
/*    border-left: 24px solid #74F6BF;
        border-right: 24px solid #74F6BF;*/
}
.field-label {
	font-size: 15px;
	font-weight: bold;
	color: #999999;
	margin-bottom: 4px;
}
.fill--light-green {
	background-color: #C4FFCD;
}
.color--green {
	color: #65A685;
}
.color--create {
	color: #74F6BF;
}

.co-type-org {
	font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.co-type-h4 {
	/*font-family: 'Doppio One', sans-serif;*/
    font-size: 22px;
    font-weight: 500;
}
.co-type-h5 {
	/*font-family: 'Doppio One', sans-serif;*/
    font-size: 14px;
    font-weight: 500;
}
.co-type-body {
  	font-weight: 400;
  	font-size: 13px;
  	letter-spacing: 1.2px;
  	line-height: 24px;
  	white-space: pre-wrap;
}
.co-post-title {
	font-weight: 400;
    font-size: 22px;
    letter-spacing: 1.1px;
    line-height: 20px;
    margin-bottom: 15px !important;
}
.co-type-sub {
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 20px;
}
.co-type-label {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1.2px;
	line-height: 26px;
}
.co-type-project-name {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 26px;
}
p {
	margin-bottom: 0 !important;
}
.co-type-bold {
	font-weight: bold;
}
.co-type-normal {
	font-weight: normal;
}
.color--gray {
	color: #999999;
}


.threadlist {
	padding: 30px;
	z-index: 1;
}
.open-style .threadlist-wrapper {
}
.close-style .threadlist-wrapper {
	margin-left: 0;
}
.threadlist-outer {
	position: absolute;
	left: 0;
	right: 320px;
}
@media (max-width: 800px) and (min-width: 214px) {
	.threadlist-outer {
		right: 0;
	}
	.project-info {
		display: none;
	}
}
.threadlist.threadlist-loading {
	padding: 180px;
	min-height: 1000px;
}
.threadlist-wrapper {
	margin: 0;
	width: auto;
	z-index: 1;
	padding-bottom: 200px;
}
.threadlist-wrapper > div {

}
.thread-preview-wrapper {
	margin: 0 0 30px;
}
.thread-preview-container {
	width: 100%;
	padding: 30px;
	border: 1px solid rgba(0,0,0,.1);
	border-left: 3px solid black;
    /*background-image: url(img/pixel-black.png);*/
/*    background-repeat: repeat-y;
    background-position: 50px 0;*/
}
.thread-preview-container.new-thread {
	padding: 0 30px;
	border-bottom: none;
}
.sidebar-footer {
	position: absolute;
    width: 100%;
    background: transparent;
    bottom: 0;
    padding-bottom: 40px;
}

.sidebar-icon {
	width: 24px; 
	height: 24px;
	margin-right: 20px;
}
.sidebar-dot {
	width: 6px;
	height: 6px;
	background-color: transparent;
	border-radius: 32px;
}
.sidebar-dot.active {
	background-color: #5B93FF;
	background-color: #232325;
}
.thread-icon {
	width: 40px; 
	height: 40px;
	margin-right: 10px;
}
.feed-gem {
	width: 17px;
	height: 17px;
	border-radius: 100px;
	background-color: rgba(0,0,0,.3);
}
.feed-gem.circle {
	width: 17px;
	height: 17px;
	border-radius: 100px;
	background-color: #74F6BF;
	background-color: #97B4FF;
}
.feed-gem.diamond {
	width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #FFC5B8;
    border-bottom-color: #97B4FF;
    position: relative;
    top: -10px;
    border-radius: 0;
    background-color: transparent;
}
.feed-gem.diamond:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #FFC5B8;
	border-top-color: #97B4FF;
}
.feed-gem.gem-create {
	background-color: #74F6BF;
}
.feed-gem.square {
	border-radius: 0;
	background-color: #74F6EE;
	background-color: #97B4FF;
}



.sidebar-icon .material-icons {
	opacity: 1;
}
.sidebar-row {
	padding: 4px 24px;
	width: 100%;
	text-align: left;
}
.sidebar-row.active {
	background-color: #79FFF7;
	background-color: rgba(35,35,37,.1);
}
.sidebar-row.active .co-type-project-name {
	font-weight: 600;
}
.sidebar-row.group-row:hover {
	background-color: rgba(121,255,247,.5);
	background-color: rgba(116,246,191,.3);
	background-color: rgba(35,35,37,.1);
}
.sidebar-row.active .co-type-label,
.sidebar-row.active .material-icons {
	opacity: 1 !important; 
}
.sidebar-header {
	margin: 30px 0 40px;
}
.sidebar-row.group-row {
	padding: 0px 24px;
}
.sidebar-row.group-row .sidebar-icon {
	height: 16px;
}
.group-badge {
    font-size: 12px;
    font-weight: normal;

    width: auto;


    min-width: 22px;
    text-align: center;
    line-height: inherit;
    height: 17px;
}

.tip__caption {
	height: auto;
	width: auto;
	max-width: 600px;
	overflow: hidden;
  /*  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;*/
  }
  .tip__caption ol, li, span {
      font-size: 13px !important;
      line-height: 20px;
  }
.caption-shadow {
	position: absolute;
	display: none;
	left: 0;right: 0;
	top: 0; bottom:0;
	box-shadow: inset rgba(255,255,255,1) 0 -26px 10px;
}
.thread-timestamp {
	font-size: 12px;
	opacity: .3;
}

.icon-wrapper {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
.project-header {
    padding: 0;
    position: fixed;
    background: rgba(255,255,255,.98);
    z-index: 11;
    /*box-shadow: white 0 30px 40px;*/
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    padding-left: 10px;
}
.open-style .project-header {
	left: 320px;
}
.closed-style .project-header {
	left: 0;
}

.page-common {
  background-color: white;
  padding-bottom: 0;
  width: auto;
  position: relative;
}
.content-wrapper {
	z-index: 3;
	width: 100%;
	padding: 20px;
}
.open-style .page-common,
.open-style .loading-module {
	margin-left: 320px;
}
.close-style .page-common,
.close-style .loading-module {
	margin-left: 0px;
}
.project-header-text {
}
.inbox-list {
	margin-left: 0px;
	padding: 100px 0 0;
	z-index: 1000;
	position: absolute;
}
.org-header {
	z-index: 2000;
	height: 50px;
}
.co-project-name {
    border: none;
    padding: 2px 15px 2px;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0,0,0,.4);
    box-shadow: 0 2px 18px rgba(0,0,0,.1);
    border-radius: 5px !important;
        text-align: center;
}
.co-project-dropdown {
    border: none;
    padding: 6px 15px 6px;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgba(0,0,0,1);
    box-shadow: 0 2px 18px rgba(0,0,0,.1);
    border-radius: 5px !important;
    text-align: center;
}
.infinite-test {
	height:100%;overflow:auto;
}
.co-type-h1 {
	/*font-family: 'Doppio One', sans-serif;*/
    font-size: 25px;
    font-weight: 500;
}
.co-type-logotype {
	font-size: 44px;
	font-weight: bold;
}
.co-type-tagline {
	font-size: 20px;
}

.rdw-editor-wrapper {
    box-sizing: content-box;
    min-height: 0px;
}
.demo-editor.rdw-editor-main {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    /*border: 1px solid rgba(0,0,0,.1);*/
    padding: 0px;
}
.co-icon-wrapper {
	width: 32px;
	height: 32px;
}

.project-info {
	width: 280px;
    height: auto;
    z-index: 1;
    position: fixed;
    top: 140px;
    right: 30px;
    border: 1px solid rgba(0,0,0,.1);
    padding: 30px;
    overflow: hidden;
}