.comments-area {
	width: 100%;
}
.max-300 {
	max-width: 300px;
}
.co-googledoc-wrapper p {
	padding: 10px 0;
}

.public-DraftStyleDefault-block {
	margin: 0 !important;
}
.page-add-thread .DraftEditor-root {
	border: 1px solid rgba(0,0,0,.1);
	min-height: 200px;
	margin-top: 20px;
	padding: 20px;
} 

.public-DraftStyleDefault-block {
}
.w-auto {
	width: auto;
}

.h-100 {
	height: 100%;
}
.home-page.page-common {
    background-attachment: fixed;
    min-height: 820px;
    padding: 20px 20px 120px;
    margin-left: 0 !important;
    z-index: 1;
}
.project-sidebar {
    min-height: 800px;
    width: 300px;
/*    background-color: #FBFCFC;
    background-color: #011946;*/
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 24px 0;
    color: white;
}
.co-sidebar {
	width: 300px;
	padding-bottom: 228px;
    overflow-y: scroll;
    background: linear-gradient(0deg, #17174E 41.86%, #0F6987 106.88%);
    background: linear-gradient(90deg, #17174E 11.86%, #0F6987 276.88%);
    background: linear-gradient(90deg, #FFFFFF 61.43%, rgba(217, 217, 217, .2) 116.79%);
    background: rgba(201,224,236,.2);
}
.group-title-wrapper {
	padding-left: 8px;
	margin-top: 20px;
}
.sidebar-footer {
	position: absolute;
    width: 100%;
    bottom: 12px;
    background: rgba(201,224,236,.2);
    background: #F4F9FB; /* LIGHT BLUE */
}
.co-search-wrapper {
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-right: 20px;
	width: 320px;
}
.project-header {
    padding: 0;
    position: fixed;
    background: rgba(201,224,236,.2);
    background: #F4F9FB; /* LIGHT BLUE */
    z-index: 11;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    padding-left: 10px;
}

.project-header.with-shadow {
	box-shadow: rgba(244,249,251) 0 12px 18px;
}
.page-thread .project-header.with-shadow {
	box-shadow: none;
}

.open-style .project-header {
	left: 300px;
}
.closed-style .project-header {
	left: 0;
}

.page-common {
  background-color: white;
  padding-bottom: 0;
  width: auto;
  position: relative;
}
.page-common.page-create-org {
    padding: 20px 0 200px;
    height: auto;
    width: 100%;
}
.content-wrapper {
	z-index: 3;
	width: 100%;
	padding: 20px;
}
.koi-view {
	z-index: 3;
	width: 100%;
	padding: 20px;
	max-width: 960px;
	min-width: 320px;
}
.thread-view {
	z-index: 1;
    width: 100%;
    padding: 0;
    /*max-width: 960px;*/
    min-width: 320px;
}
.open-style .page-common,
.open-style .loading-module {
	margin-left: 300px;
/*	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;*/
}
.close-style .page-common,
.close-style .loading-module {
	margin-left: 0px;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.illustration {
	width: 350px;
	height: 160px;
}
.illustration.square-sm {
	width: 48px;
	height: 48px;
}
.illustration.square-220 {
	width: 220px;
	height: 220px;
}


















textarea {
	padding: 10px 16px !important;
}
.header-push {
	margin-top: 80px;
}
.header-push-mini {
	margin-top: 6px;
}
.org-block {
	min-width: 300px;
    height: 60px;
    padding: 20px;
    flex-basis: 50%;
    border-radius: 0px;
    margin: 0px;
	transition: all 0.23s ease-in-out 0s;
}
.org-block:hover {
	opacity: .8;
}
.org-logo {
	width: 88px;
	height: 88px;
	border-radius: 100px;
	background-color: transparent;
}
.loading-koi {
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
	moz-animation: spin 2s infinite linear;
}
.co-logo {
	background-color: transparent;
	height: 24px;
	width: 24px;
	margin-right: 16px;
	-webkit-animation: spin 50s infinite linear;
	animation: spin 50s infinite linear;
	moz-animation: spin 50s infinite linear;
	position: absolute;
}
.co-logotype {
	background-color: transparent;
	height: 69px;
	width: 155px;
}
.co-logo.large-logo {
	width: 80px;
	height: 80px;
	margin-right: 0;
	-webkit-animation: spin 50s infinite linear;
	animation: spin 50s infinite linear;
	moz-animation: spin 50s infinite linear;
}
.org-row {
	margin: 0px 24px 0px 24px;
	width: auto;
	text-align: left;
	background: transparent;
	padding: 10px 0;
}
.org-row.org-row-selector {
    padding: 0 16px;
    height: 60px;
    margin: 0;
 }
.koi-dropdown {
    padding: 0 16px;
    margin: 0;
    width: 120px;
}
.koi-dropdown .btn {
	font-size: 16px;
}
.user-column {
	width: 180px;
}
.koi-dropdown .dropdown li {
	font-size: 14px;
}
.org-selector {
	width: 320px;
	z-index: 10;
	font-weight: 700;
}
.org-arrow {
	position: absolute;
	right: 24px;

}





.thread-preview-container {
	padding: 10px 0 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.thread-preview-container img {
	width: 100%;
}
.thread-area {
    position: absolute;
    padding:  20px;
    /*box-shadow: rgba(0,0,0,.1) 10px 0px 150px;*/
    z-index: 10;
    overflow-x: hidden;
    width: auto;
    background-color: white;
    /*min-height: 1210px;*/
    left:0px;
    overflow: hidden;
    right: 0;
    min-width: 400px;
/*    border-left: 24px solid #74F6BF;
        border-right: 24px solid #74F6BF;*/
}
.field-label {
	font-size: 15px;
	font-weight: bold;
	color: #999999;
	margin-bottom: 4px;
}
.fill--light-green {
	background-color: #C4FFCD;
}
.fill--red {
	background-color: red;
}
.color--green {
	color: #65A685;
}
.color--create {
	color: #74F6BF;
}
.co-type-logo {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 5px;
}



.thread-sideline {
	height: 100%;
	width: 4px;
}

.thread-row-wrapper {
	width: 100%;
	padding: 0 10px;
	overflow: hidden;
}
.tp-preview-full .thread-row-wrapper {
	padding: 8px 18px;
	min-height: 232px;
	height: auto;
	padding-bottom: 70px;
}
.top-bar {

}


.input-indent-wrapper {
	padding-left: 60px;
}
.input-sideline-wrapper {
	padding-left: 4px;
}

.sidebar-icon {
	width: 24px; 
	height: 24px;
}
.sidebar-icon--large { 
	width: 36px;
	height: 36px;
}
.sidebar-dot {
	width: 6px;
	height: 6px;
	border-radius: 32px;
	opacity: 1;
}
.co-sidebar .sidebar-dot {
    width: 13px;
    height: 13px;
    background: radial-gradient(10px at 50% 50%, #30C1D6 40%, #A4F6E6 72%);
    background: #9FCEE2;
}
.group-icon {
    width: 46px;
    height: 46px;
    border-radius: 100px;
    background: radial-gradient(10px at 50% 50%, #30C1D6 90%, #A4F6E6 152%);
    background: #9FCEE2;
    margin-right: 12px;
}
.sidebar-dot.active {
	visibility: visible;
	opacity: 1;
}
.sidebar-row.koi-sidebar-footer {
	height: 50px;
}

.sidebar-row:hover .sidebar-dot,
.sidebar-row.active .sidebar-dot {
	background-color: #1E213F !important;
	opacity: 1 !important;
}
.sidebar-row.group-triplet {
	width: 33.3333%;
	padding: 8px 24px 12px;
}
.thread-icon {
	width: 40px; 
	height: 40px;
	margin-right: 10px;
}
.feed-gem {
	width: 17px;
	height: 17px;
	border-radius: 100px;
	background-color: rgba(0,0,0,.3);
}
.feed-gem.circle {
	width: 17px;
	height: 17px;
	border-radius: 100px;
	background-color: #74F6BF;
	background-color: #97B4FF;
}
.feed-gem.diamond {
	width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #FFC5B8;
    border-bottom-color: #97B4FF;
    position: relative;
    top: -10px;
    border-radius: 0;
    background-color: transparent;
}
.feed-gem.diamond:after {
	content: '';
	position: absolute;
	left: -10px;
	top: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #FFC5B8;
	border-top-color: #97B4FF;
}
.feed-gem.gem-create {
	background-color: #74F6BF;
}
.feed-gem.square {
	border-radius: 0;
	background-color: #74F6EE;
	background-color: #97B4FF;
}


.sidebar-row {
	padding: 4px 8px;
	width: 100%;
	text-align: left;
	border-radius: 32px;
}
.sidebar-groups-wrapper {
	padding: 0 8px 0 8px;
}
.info-row {
	padding: 4px 0px;
	width: 100%;
	text-align: left;
	height: 32px;
}
.sidebar-row.active {
	background-color: #79FFF7;
	background-color: rgba(101,212,236,.25);
	background-color: rgba(201,224,236,.6);
}
.sidebar-row.active .co-type-project-name {
	font-weight: 600;
}
.sidebar-row.group-row:hover {
	background-color: rgba(201,224,236);
	transition: all 0.23s ease-in-out 0s;
}
.sidebar-row.group-row.search-row:hover {
	background-color: transparent !important;
}
.sidebar-row.group-triplet:hover,
.sidebar-row.group-triplet.active {
	background-color: transparent !important;
}
.sidebar-row.group-row.search-row {
	padding: 0px 4px;
	height: 24px;
	/*background-color: rgba(101,212,236,.1);*/
}
.sidebar-row.group-row.search-row input {
}
.sidebar-row.group-row.search-row .sidebar-icon {
	margin-right: 16px;
}

.sidebar-row.active .co-type-label,
.sidebar-row.active .material-icons {
	opacity: 1 !important; 
}
.sidebar-header {
	margin: 30px 0 40px;
}
.sidebar-row.group-row {
	padding: 0 12px 0 4px;
}
.sidebar-row.group-row .sidebar-icon {
	height: 16px;
}
.group-badge {
    font-size: 12px !important;
    font-weight: normal;
    width: auto;
    min-width: 22px;
    text-align: center;
    line-height: inherit;
    height: 24px;
    width: 24px;
    border-radius: 100px;
    padding: 3px;
}
.group-triplet .group-badge {
	padding: 1px;
	border: 2px solid black;
	border-color: rgba(30,33,63,.2) !important;
}


.tip__caption {
	height: auto;
	width: 100%;
	overflow: hidden;
  /*  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;*/
  }
  .tip__caption ol, li, span {
      white-space: pre-wrap;
  }
  .comment-row .tip__caption ol, li, span {
      white-space: normal;
  }

  .tip__caption img {
  	width: 100%;
  }
.caption-shadow {
	position: absolute;
	display: none;
	left: 0;right: 0;
	top: 0; bottom:0;
	box-shadow: inset rgba(255,255,255,1) 0 -26px 10px;
}


.icon-wrapper {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}

.project-header-row {
	margin-left: 24px;
}
.project-header-text {
	padding-top: 0px;
	font-size: 21px;
}
.inbox-list {
	margin-left: 0px;
	padding: 100px 0 0;
	z-index: 1000;
	position: absolute;
}
.org-header {
    z-index: 210;
    height: 80px;
    width: 70px;
}
.project-bar-wrapper {
	position: absolute;
	left: 0;
	top: 0px;
	right: 0px;
	padding: 0 0 0 30px;
	height: 80px;
	z-index: 200;
}
.show-all-button {
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	padding: 20px;
	z-index: 100;
	border-top: 4px solid #F4F9FB;
}
.co-project-name {
}
.co-project-dropdown {
    border: none;
    padding: 6px 15px 6px;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgba(0,0,0,1);
    box-shadow: 0 2px 18px rgba(0,0,0,.1);
    border-radius: 5px !important;
    text-align: center;
}
.infinite-test {
	height:100%;overflow:auto;
}


.rdw-editor-wrapper {
    box-sizing: content-box;
    min-height: 0px;
}
.demo-editor.rdw-editor-main {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    /*border: 1px solid rgba(0,0,0,.1);*/
    padding: 0px;
}

.project-info {
	width: 180px;
    height: auto;
    z-index: 1;
    position: fixed;
    top: 104px;
    right: 30px;
    padding: 0px;
    overflow: hidden;
    background-color: white;
    display: none;
}













/* UNCATEGORIZED */


.brdr-bottom-thick {
	border-bottom: 3px solid black;
}


.sheet-col-md {
	width: 20%;
}

.page-profile .co-type-label,
.page-team-settings .co-type-label {
	line-height: 16px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
	min-height: 200px;
}
.ql-container.ql-snow {
    border: none !important;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
    padding: 20px;
    border: 1px solid rgba(0,0,0,.1) !important;
    border-top: 0px !important;
}
.ql-editor {
	padding: 0 !important;
}
.page-add-thread .ql-editor {
	min-height: 170px;
}

.indent-border {
	border-left: 1px solid transparent;
	margin-left: 18px;
	padding: 10px 18px 5px 30px;
}









.koi-radio {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.koi-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.koi-radio:hover input ~ .checkmark {
    background-color: #ccc;
    transition: all 0.23s ease-in-out 0s;

}

/* When the radio button is checked, add a blue background */
.koi-radio input:checked ~ .checkmark {
    background-color: #5BD1EB;
    transition: all 0.23s ease-in-out 0s;

}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.koi-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.koi-radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.updater-col {
	width: 120px;
	margin-right: 40px;
}
.preview-action {
	height: 21px;
}
.body-preview {
	max-width: 600px;
}

.infinite-loader {
	display: inline-block;
    width: 100%;
    padding: 120px 20px 40px;
    height: auto;
}
.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 3.5em;
}
