.dialog--save {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
}
.dialog--save__wrapper {
  margin: 0;
  height: 100%;
}
.dialog--save__content {
  /*border: 2px red solid;*/
  height: 100%;
  position: relative;
  margin-top: 30px;
}
.dialog--save__content ul {
  list-style-type: none;
}
.dialog--save__content li {
  padding: 10px 30px;
}
.dialog--save__content li:hover {
  /*background-color: rgba(10,170,213,.05);*/
  cursor: pointer;
}
.dialog--save__content li:hover .v-button--select {
  background-color: rgba(10,170,213,1);
  cursor: pointer;
}
.dialog--save__title {
  color: black;
}
.dialog--save__tip-item {
  position: fixed;
  top: 53px;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background: white;
  border-bottom: 1px solid rgba(0,0,0,.1);
  z-index: 2;
}
.dialog--save__body {
  padding: 40px;
}
.dialog--save__overlay {
/*background-color: rgba(255,255,255.5)*/
}
.dialog--save__actions {

}
.dialog--save__tip-name {
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
}
.save-to__title {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
  width: 100%;
  color: black;
  font-family: 'Arimo', sans-serif;
  color: #0AAAD5;
}


.v-button--temp {
  background: transparent;
  color: black;
  opacity: 1;
  font-size: 11px;
  border: none;
  box-shadow: none;
  padding: 6px 0;
  border-radius: 4px;
  min-width: 32px;
  margin-right: 27px;
}
.v-button--select {
  background: transparent;
  color: black;
  opacity: 1;
  font-size: 11px;
  border: 2px solid #0AAAD5;
  width: 18px;
  height: 16px;
  box-shadow: none;
  min-width: 0;
  padding: 0;
  border-radius: 42px;
  margin: 0 36px 0 8px;
}
.v-button--temp img {
  margin: 0 auto;
}
li:hover .v-button--temp {
  opacity: 1;
}
.create-new {
}
.create-new img {

}
.tip-preview-wrapper {
  width: 50px;
  height: 32px;
  overflow: hidden;
}
.tip-preview-wrapper img {

}
