body div.dialog--save {

}
.dialog--save__wrapper {
  margin: 0;
  height: 100%;
  width: 500px;
}
.dialog--save__content {
  /*border: 2px red solid;*/
  height: 100%;
  position: relative;
  margin-top: 60px;
}
.dialog--save__content ul {
  list-style-type: none;
}
.dialog--save__content li {
  padding: 10px 20px;
}
.dialog--save__content li:hover {
  /*background-color: rgba(10,170,213,.05);*/
  cursor: pointer;
  background: rgba(0,198,224,.05);
}
.dialog--save__content li:hover .v-button--select {
  background-color: rgba(10,170,213,1);
  cursor: pointer;
}
.dialog__title {
  color: black;
  border-bottom: 1px solid #E7E7E7 !important;
}
.dialog--save li {
  list-style: none;
}
.dialog--save__tip-item {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background: white;
  border-bottom: 1px solid rgba(0,0,0,.1);
  z-index: 2;
}
.dialog--save__body {
  padding: 40px;
}
.dialog__overlay {
/*background-color: rgba(255,255,255.5)*/
}
.dialog--save__actions {

}
.dialog--save__tip-name {
  padding-top: 0;
}

.option-title {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
  width: 100%;
  color: black;
}
.create-new__title {
  font-weight: 400;
}


.vb--temp {
  background: transparent;
  color: black;
  opacity: 1;
  font-size: 11px;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  min-width: 72px;
  width: 32px;
  padding: 12px 0;
  margin: 0 48px 0 20px;
  height: auto;
}
.v-button--select {
  background: transparent;
  color: black;
  opacity: 1;
  font-size: 11px;
  border: 2px solid #0AAAD5;
  width: 18px;
  height: 16px;
  box-shadow: none;
  min-width: 0;
  padding: 0;
  border-radius: 42px;
  margin: 0 36px 0 6px;
}
.v-button--temp img {
  margin: 0 auto;
}
li:hover .v-button--temp {
  opacity: 1;
}
.create-new {
}
.create-new img {

}
.tip-preview-wrapper {
  width: 97px;
  height: 82px;
  overflow: hidden;
  margin-right: 21px;
}
.tip-preview-wrapper img {
  width: 100%;
  height: 100%;
}




/** DELETE **/
.dialog--delete__content {
  height: 100%;
  position: relative;
  padding: 20px;
}
