/* FLEX BOX */
.flx {
  display: -webkit-flex;
  display: flex;

  /** what direction X or Y ...
  row | row-reverse | column | column-reverse **/
  -webkit-flex-direction: row;
  flex-direction: row;

  /** force fit onto one line or wrap
  nowrap | wrap | wrap-reverse **/
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;

  /** how to distribute items in a row...
  flex-start | flex-end | center | space-between | space-around **/
  -webkit-justify-content: flex-start;
  justify-content: flex-start;

  /** what direction to align columns...
  flex-start | flex-end | center | baseline | stretch **/
  -webkit-align-items: flex-start;
  align-items: flex-start;

  /** how to distribute multiple rows of flex content across the Y-axis...
  flex-start | flex-end | center | space-between | space-around | stretch **/
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

/* What direction? */
.flx.flx-col {
  -webkit-flex-direction: column;
   flex-direction: column;
}
.flx.flx-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}
.flx.flx-col-reverse {
  -webkit-flex-direction: column-reverse;
   flex-direction: column-reverse;
}
.flx.flx-row-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* How do you want rows displayed? */
.flx.flx-just-start {
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}
.flx.flx-just-end {
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}
.flx.flx-just-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.flx.flx-just-space-between {
   -webkit-justify-content: space-between;
   justify-content: space-between;
   height: 100%;
}
.flx.flx-just-space-around {
   -webkit-justify-content: space-around;
   justify-content: space-around;
   height: 100%;
}


/* How do you want columns displayed? */
.flx.flx-align-stretch {
   -webkit-align-items: stretch;
   align-items: stretch;
}
.flx.flx-align-end {
   -webkit-align-items: flex-end;
   align-items: flex-end;
}
.flx.flx-align-start {
   -webkit-align-items: flex-start;
   align-items: flex-start;
}
.flx.flx-align-center {
   -webkit-align-items: center;
   align-items: center;
}
.flx.flx-align-baseline {
   -webkit-align-items: baseline;
   align-items: baseline;
}



.flx.flx-center-all {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
} 



.flx.flx-wrap {
  flex-wrap: wrap;
}
.flx.flx-no-wrap {
  flex-wrap: nowrap;
}



.flx .bigitem {
   /* This will be twice as big as the small item. */
   -webkit-flex: 2 0 0; 
   flex: 2 0 0; 
}
.flx .smallitem {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.flx-item-right {
  margin-left: auto;
}
.flx-item-center {
  margin-left: auto;
  margin-right: auto;
}
.flx-item-left {
  margin-right: auto;
}
.flx-item-bottom {
  margin-top: auto;
}
.flx-grow1 {
  flex-grow:1;
}
.flx .flx-hold {
  flex-shrink: 0;
}
.flx-self-end {
  align-self: flex-end;
}
.flx-self-start {
  align-self: flex-start;
}