
/****** 
******
************************************ HEADER 
******
******/
.header-container {
    position: fixed;
    z-index: 100;
    height: 70px;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,1);
    background-color: #D4E7EF;
    border-bottom: 1px solid #D4E7EF;
    /* Rectangle 6: */
    opacity: 1;
    background-color: #D4E7EF;
    /*background-image: linear-gradient(90deg, #1C398C 0%, #59FFF2 65%, #B5FEE3 100%);*/
}
.header-container.logged-out {
  background-color: #D4E7EF;
}
.header-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.logo-module {
  padding: 0px;
  height: 40px;
  width: 240px;
  font-weight: 700;
  margin: 16px;
  opacity: .8;
  z-index: 2;
}
a.logo-module:hover,
a.logo-module:active,
a.logo-module:focus {
  text-decoration: none;
  opacity: 1;
}
.logo-main {
    font-size: 18px;
    font-weight: 600;
    opacity: 1;
}
.logo-tagline {
    font-size: 14px;
    font-weight: 100;
    opacity: .4;
    display: none;
}
.logo-circle {
  display: inline-block;
  background: black;
  border-radius: 32px;
  width: 20px;
  height: 21px;
  margin: 0 2px 0 1px;
}
.navigation-bar {
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
  z-index: 2;
  padding: 0px;
  color: black;
}
.navigation-bar .nav-module {
  text-align: center;
  width: auto;
  height: auto;
  font-weight: 500;
  margin: 0 20px;
  padding: 0;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 70px;
  padding-top: 0px;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}
.navigation-bar .nav-module img {
  width: 48px;
  height: 48px;
  border-radius: 0;
}
.navigation-bar .nav-module.create {
  /*color: #63A652;  Bright green */
  /*color: #4F7A39;*/
}
.logged-out .navigation-bar .nav-module {
  padding: 0 20px;
  border-bottom: 0;
  margin: 0;
  text-transform: none;
  height: 69px;
}
.logged-out .navigation-bar .nav-text {
  width: 100%;
  letter-spacing: 0;
  text-transform: none;
}
.nav-module.nav-editor {
  order: 3;
}
.nav-module.nav-feed {
  order: 1;
}
.nav-module.nav-inbox {
  order: 2;
}
.nav-module.nav-saved {
  order: 4;
}
.nav-module.nav-profile {
  order: 6;
  margin-right: 0;
  margin-left: 10px;
}

.nav-module.nav-notifs {
  order: 5;
}


.navigation-bar .nav-module.active,
.navigation-bar .nav-module.nav-editor.active {
  opacity: 1;
  padding-top: 0px;
}
.navigation-bar .nav-module.active.create,
.navigation-bar .nav-module.nav-editor.active.create {

}
.navigation-bar .nav-module:hover {
  opacity: 1;
}
.navigation-bar .nav-module.nav-editor {
  /*background-color: rgba(43,93,210,.2);*/
}
.navigation-bar .nav-module.nav-editor:hover {
}
.navigation-bar .create-review .nav-module {
/*  animation: colorchange 40s;
-webkit-animation: colorchange 40s;*/
}

.logo-graphic {
  width: auto;
  height: auto;
  margin-top: -1px;
/*  -webkit-animation:spin 4s linear 1;
  -moz-animation:spin 4s linear 1;
  animation:spin 4s linear 1;*/
  margin-right: 20px;
}
.logo-graphic img {
  width: 72px;
  height: auto;
}


.nav-text.vb.vb--sm {
  padding: 0 10px;
}
.nav-text.vb.vb--sm.fill--success {
  padding: 0 20px;
}
.nav-text.vb.vb--sm:hover {
  background-color: white;
}

.black.header-container {
  background-color: #121419;
  border-bottom: rgba(255,255,255,.1);
  color: white;
}

.black.header-container .navigation-bar {
  background-color:  #121419;
  color:  rgba(255,255,255,.1);
}

.black.header-container .logo-main {
  color: white;
}
.black.header-container .navigation-bar .nav-module {
  color: white;
  border-top-color: #121419;
}
.black.header-container .navigation-bar .nav-module.active,
.black.header-container .navigation-bar .nav-module:hover,
.black.header-container .navigation-bar .nav-module.nav-editor.active,
.black.header-container .nav-pills.outline-active .nav-link.active,
.black.header-container .nav-pills.outline-active .nav-link:hover  {
  color: #3DCBF3;
}
.black.header-container .navigation-bar .nav-module.active.create:hover,
.black.header-container .navigation-bar .nav-module.create:hover,
.black.header-container .navigation-bar .nav-module.active.create,
.black.header-container .navigation-bar .nav-module.nav-editor.active.create {
  color: #00E2C8;
}


