/******
******
************************************ 1. HOME PAGE / FEED
******
******/
.home-page {
  /*background-image: linear-gradient(to right, rgba(0,0,0,.05) 1px, transparent 1px),*/
  /*linear-gradient(to bottom, rgba(0,0,0,.05) 1px, transparent 1px);*/
  background-attachment: fixed;
}

.page-section {
}
.page-section__feature {
  width: 33.3333%;
}
.page-section__popular {
  width: 66.6666%;
}
.page-section__friends {

}
.popular-box {
    width: 360px;
    height: 470px;
    margin: 20px;
    padding: 20px;
}
.section-header {
	font-weight: 500;
    font-size: 28px;
    letter-spacing: 0px;
}

.short-width-search {
	width: 32%;
	border: none;
  overflow: hidden;
}
.home-page .search-wrapper,
.page-people .search-wrapper {
	margin-top: 0;
  padding: 10px 20px;
}
.page-people .input--search input,
.home-page .input--search input {
  text-indent: 70px;
  color: white !important
}

.search-detail-bar {
  padding: 0 20px;
  overflow: hidden;
}
.search-detail-bar .geo-type {
  font-size: 16px;
  flex-shrink: 0;
  width: auto;
}
.search-detail-bar .geo-type:hover {
  opacity: .6;
}