/******
******
************************************ 1. HOME PAGE / FEED
******
******/
.home-page.page-common,
.page-people.page-common {
  /*background-image: linear-gradient(to right, rgba(0,0,0,.05) 1px, transparent 1px),*/
  /*linear-gradient(to bottom, rgba(0,0,0,.05) 1px, transparent 1px);*/
  background-attachment: fixed;
  margin: 10px auto 0px;
  min-height: 1000px;
}

.page-section {
}
.page-section__feature {
  width: 33.3333%;
}
.page-section__popular {
  width: 66.6666%;
}
.page-section__friends {

}
.popular-box {
  width: 360px;
  height: 462px;
  margin: 20px;
  padding: 20px;
  /*background-color: #87FFB4;*/
}
.section-header {
	font-weight: 500;
  font-size: 28px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: 'Arimo';
}

.search-wrapper-wrapper {
  z-index: 10;
  position: fixed;
  top: 70px;
  z-index: 10;
  padding: 0 20px;
  background-color: #2A2B30;
  background-color: rgba(42, 43, 48, .99);
}
  .page-landing.search-wrapper-wrapper {
    display: none;
  }
.short-width-search {
	width: 32%;
	border: none;
  overflow: hidden;
}
.search-wrapper {
  margin-right: 40px;
}
.search-wrapper.page-top-search {
	margin-top: 0;
  padding: 10px 0;
}
.friend-popular-toggle .nav-pills .nav-item { 
  font-size: 16px;
}

.search-wrapper.page-top-search .input--search input {
  color: white !important;
  text-indent: 70px;
  border: 1px solid rgba(0,199,205,.6) !important;
}
.search-wrapper.page-top-search .input--search input:hover {
  text-indent: 70px;
  border: 1px solid rgba(0,199,205,.8) !important;
}
.search-wrapper.page-top-search .input--search input:focus {
  text-indent: 70px;
  border: 1px solid rgba(0,199,205,1) !important;
}

.search-detail-bar {
  padding: 0;
  overflow: hidden;
}
.search-detail-bar .geo-type {
  font-size: 14px;
  flex-shrink: 0;
  width: auto;
}
.search-detail-bar .geo-type:hover {
  opacity: .6;
}