
.itinerary {

}

.itinerary__big-photo {
    width: 100%;
    padding: 0;
    position: relative;
    background: transparent;
    margin: 0;
    height: 80px;
}

.itinerary__summary__wrapper {
	position: relative;
    margin: 0 auto;
}

.itinerary__summary {
	width: 100%;
    padding: 0px;
    height: 100%;
    padding-bottom: 10px;
}
.itinerary__summary__author-photo {
	flex-shrink: 0;
}
.itinerary__summary__author-photo .user-photo-wrapper {
	width: 36px;
	height: 36px;
}
.itinerary__summary__author-photo .user-photo-wrapper img {
	width: 36px;
	height: 36px;
}
.itinerary__cover .itinerary__cover__author-photo {
	margin-left: 0; 
}
.itinerary__cover__author-photo {
    border-radius: 100px;
    overflow: hidden;
    flex-shrink: 0;
}

.itinerary-image-wrapper {
	width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}



.guide-title {
	max-width: 800px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 32px;
    width: 100%;
    padding: 10px 0 0;
}



.itinerary__cover__author-photo img {
	width: 100%;
    height: 100%;
}
.itinerary__author-name  {
	min-width: 100px;
}
.itinerary__summary .itinerary__summary__flag {
	height: 50px;
	width: 70px;
}
.itinerary__summary__location {

}
.itinerary__summary__description {
	max-width: 860px;
}

.itinerary__summary__like {
	margin-top: -2px;
}
.like-text {

}
.it-author-controls .like-text {
	display: inline-block;
}

.tip-count {
	background: white;
    z-index: 1;
    padding-left: 20px;
    box-shadow: 0 0 30px 10px white;
}



.itinerary__summary.option-stack {
	width: 100%;
    height: 100%;
}
.itinerary__summary.option-stack .itinerary__summary__author-photo {
	width: 70px;
	height: 70px;
	border-radius: 100px;
	overflow: hidden;
	margin: 0;

}

.itinerary__summary.option-stack .itinerary__summary__author-photo img,
.itinerary__summary.option-stack .itinerary__cover__author-photo img {
	width: 100%;
    height: 100%;
}


.itinerary__tipslist {
	/*border-top: 1px solid #D5E3E5;*/
	padding: 0 10px 60px;
	min-height: 80px;
}
.page-subject .itinerary__tipslist {
	margin-bottom: 120px;
	padding: 40px 40px;
}

.itinerary__tiplist {
	width: 100%;
}
.itinerary__tiplist ul {
	width: 100%;
	list-style: none;
}
.itinerary__tiplist li {
}
.map-shift {
	margin-top: -200px;
}


.itinerary__comments-module {
	width: 100%;
	padding: 30px 40px 60px;
}
.itinerary__comments-module .comment-data {
	margin-top: 10px;
}
.itinerary__related-module {
	width: 100%;
	padding: 60px 40px;
	border-top: 1px solid #D5E3E5;
}
.itinerary__related-module .itinerary__cover {
	margin: 10px;
	width: 300px;
}
.itinerary__edit-tip {

}
.edit-bar {
	position: fixed;
	top: 70px;
	left: 0;
	right: 0;
	height: 50px;
	background: rgba(255,255,255,.9);
	padding: 10px 20px;
	z-index: 1;
	border-bottom: 1px solid rgba(0,198,224,1);
}
.container--editor {
	margin-top: 50px;
}
.edit-it-wrapper .image-module {

}
.text-fields {
	width: 100%;
	padding: 0px;
	height: 100%;
	padding-bottom: 10px;
}


.itinerary__tipslist > div {
	width: 100%;
}

.sticky-class {
    width: 100% !important;
    z-index: 10000000;
    transform: inherit !important;
}
.sticky-class.sticky {
	width: 50% !important;
	left: 0;
	top: 70px !important;
}


.page-itinerary .itinerary__cover__text {
	border-bottom: 1px solid #D5E3E5;
}
.page-itinerary.page-edit-own .itinerary__cover__text {
	padding: 0px;
}
.it__author-wrapper {
	margin:  0;
}

.page-edit-own .it__author-wrapper {
	margin:  0;
}

.page-edit-own .tip-wrapper .tip__cta-box {
	
}

.page-edit-own .it__title-module .tip__order-count,
.page-edit-own .it__title-module .it__tip-count,
.page-edit-own .it__title-module .itinerary__cover__flag {
	margin-left: 10px;
	margin-right: 10px;
}


.itinerary__cover__descrip {
  height: auto;
  max-width: 480px;
  width: 100%;
  max-width: 800px;
  padding: 0;

 }
.itinerary__cover .itinerary__cover__descrip {
	padding-bottom: 10px;
	padding-bottom: 20px;
	height: 40px;
 }
 .page-edit-own .itinerary__cover__descrip {
 	margin-top: -5px;
 }
 .itinerary__cover__descrip.itinerary__cover__source {
 	padding: 0;
 	width: auto;
 }

.itinerary__cover__flag,
.itinerary__summary__flag {
}
.itinerary__cover__username {
	width: auto;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}
.itinerary-username {
	width: 100%;
}
.it__center-info {
	margin-top: auto;
}
.it__cover__inner {
	padding: 20px;
}
/** EDIT **/

input.edit-itinerary__name, 
textarea.edit-itinerary__name {

}
.edit-tip__name {
	font-size: 24px;
}


/* STATES **/

.state--not-exist {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
}



/** NEW ITINERARY MODAL **/

.new-itin-modal .form-wrapper {
	padding: 0 20px;
	margin: 0;
	width: 100%;
}
.new-itin-modal .field-wrapper {

}

.new-itin-modal input.edit-itinerary__name {
	font-size: 16px;
}


.profile-page .profile-feed.flx {
	-webkit-flex-direction: row;
    flex-direction: row;
}


.page-itinerary.page-edit-own .it-author-controls {
}



/** IT PAGE **/

.it__title-module {
	margin-top: auto !important;
}
.it__tip-count {
	width: 60px;
    text-align: center;
}


.cover__loading {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}
.cover__loading.loading-done-100, 
.cover__loading.loading-done-undefined {
	display: none;
}

.geosuggest__suggests-wrapper {
	position: absolute;
	z-index: 1;
	color: #121419;
	max-width: 96%;
}
.it-add-container {
    padding: 0px;
    z-index: 10;
    width: 100%;
}
.it-add-wrapper {
	position: relative;
	border: 10px 10px 0px 20px;
	padding: 10px 10px 0;
}
.it-add-search-icon {
 	border-radius: 50px;
    position: absolute;
    pointer-events: none;
    left: 24px;
    top: 18px;

}
.it-add-wrapper .geosuggest {
	background: transparent;
	border-radius: 7px;
}
.it-add-wrapper .geosuggest:hover {
}
.it-add-wrapper .geosuggest__input {
	height: 42px;
	text-indent: 40px;
}
.it-add-wrapper .geosuggest__input:hover {
	opacity: 1;
}

.vb--following .material-icons {
	color: #06D4AD !important; /* Success */
	color: #121419 !important; /* Black */
	opacity: .5;
}



.page-edit-own .it-add-wrapper input,
.page-edit-own .it-add-wrapper textarea {
    border-color: white;
    font-size: 14px;
    padding-left: 40px;
    text-align: left;
    border: 1px solid #D7E3E5;
    background-color: white;
    border-radius: 3px;
}
.page-edit-own .it-add-wrapper input:hover,
.page-edit-own  .it-add-wrapper textarea:hover {
  	background-color: white;
  	border: 1px solid #D7E3E5;
}

.page-edit-own .it-add-wrapper input:focus,
.page-edit-own .it-add-wrapper textarea:focus {
    background-color: white;
    border: 1px solid #D7E3E5;
}

.page-edit-own .it-add-wrapper input {
  text-indent: 10px;
  border: 2px solid #121419 !important;
}
.page-edit-own .it-add-wrapper input:hover {
  border: 2px solid #00EBFF !important;
}
.page-edit-own .it-add-wrapper input:focus {
  border: 2px solid #5EF2FF !important;
}



/**** MAP STUFF ****/

.gm-style .gm-style-iw {
    margin-top: 6px;
    text-align: center;
    padding: 0;
}
.content-wrapper.map-on {
  width: 50%;
}
.page-edit-own .content-wrapper {
}

.content-wrapper.map-on .itinerary__cover.header-height,
.content-wrapper.map-on .itinerary__cover__image.header-height,
.content-wrapper.map-on .itinerary__cover .header-height {
  height: 180px;
}
.it-map-container {
  position: fixed;
  right: 0;
  top: 70px;
  left: 50%;
  bottom: 0;
}
.it-map-overlay {
  position: fixed;
  right: 0;
  top: 0;
  left: 50%;
  bottom: 0;
  background-color: rgba(0,0,0,.1);
  background-color: rgba(22,32,52,.5);
}
.map-wrapper {
  width: 100% !important;
  height: 100% !important;
}
.map-loading-wrapper {
  height: 100%;
  position: absolute;
  top: 0; bottom: 0; right: 0;
  left: 0;
}

.page-itinerary.show-map .content-wrapper {
	display: none;
}
.page-itinerary.show-map .it-add-container {
	width: 100%;
	left: 0;
	right: 0;
}
.page-itinerary.show-map .it-map-container {
    left: 0;
    right: 0;
    width: 100%;
  }
.page-itinerary .button-map-toggle {
	position: fixed;
	right: 20px; 
	top: 80px;
	z-index: 10;
}
.page-itinerary .button-filter-map {
	position: fixed;
	right: 60px; 
	top: 50px;
	z-index: 10;
	display: none;
}
.page-itinerary.show-map .button-map-toggle .material-icons {
	color: #3DCBF3;
	opacity: 1 !important;
}
.page-itinerary.show-map .button-map-toggle .color--black {
	color: #3DCBF3;
	opacity: 1 !important;
}
.page-itinerary .test00 .cta-wrapper {
	max-width: 400px;
	margin: 0 auto;
}

.floating-map-toggle {
	position: fixed;
	top: 80px;
	right: 10px;
	z-index: 100;
}

.it-actions-row {
}
.test00.it-author-controls {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px;
    z-index: 10;
    max-width: none;
    background-color: rgba(0,0,0,.9);
}