.threadlist {
	padding: 20px;
	z-index: 1;
	/*background-color: #F4F9FB;*/
}
.open-style .threadlist-wrapper {
}
.close-style .threadlist-wrapper {
	margin-left: 0;
}
.threadlist-outer {
/*	position: absolute;
	left: 0;
	right: 0px;
	top: 0;
	bottom: 0;*/
	width: 100%;
	background-color: rgba(201,224,236,.2);
}

.threadlist.threadlist-loading {
	padding: 100px 180px;
}
.threadlist-wrapper {
	margin: 0;
	width: 100%;
	z-index: 1;
	padding-bottom: 200px;
	min-width: 200px;
	min-height: 1000px;
}
.threadlist-wrapper > div {
	width: 100%;
}
.tp-wrapper {
	margin: 0;
	width: 100%;
	min-height: 0px;
	position: relative;
	padding: 0 12px;
}
.tp-wrapper.tp-preview-full {
	padding: 0!important;
}

.tp-page .tp-wrapper {
	padding: 12px;
}


.new-badge {
	border-radius: 32px;
	width: 8px;
	height: 8px;
	display: none;
}
.tp-preview-full .new-badge {
	display: inline-block;
}

.thread-body .comment-inner {
	box-shadow: none !important;
}
.tp-full .tp-wrapper {
	position: relative !important;
}

.tp-small .tp-container  {
	width: 100%;
}
.tp-container {
	width: 600px;
	width: 50%;
	border-left: none;
	background-color: white;
	padding: 20px 0 !important;
    /*background-image: url(img/pixel-black.png);*/
/*    background-repeat: repeat-y;
    background-position: 50px 0;*/
    position: relative;
    margin-bottom: 60px;
}
.tp-preview-full .tp-container {
	max-height: 460px;
	margin-bottom: 0;
	padding: 12px 0 !important;
}
.page-thread .thread-view {
	margin-top: 80px;
}
.hidden-comments {
	padding: 8px 12px;
	margin: 4px 0;
}

.thread-body {
	padding: 0;
	width: 100%;
}

.thread-content-wrapper {
	padding: 0 16px;
	background-color: white;
	overflow: hidden;
}
.tp-preview-full .thread-content-wrapper {
	padding: 0;
}
.thread-body .thread-content-wrapper {
	padding: 0 12px 0 0;
}


.thread-creator-image .default-profile-wrapper,
.thread-creator-image .user-photo-wrapper {
	width: 48px;
	height: 48px;
}

.ql-snow a {
    color: #285A00 !important;
}
.ql-editor {
	line-height: unset;
}
.threadmodal-header {
	position: fixed;
	top: 0; right: 0; left: 0;
	height: 60px;
	z-index: 2;
}
.dialog--save__body .thread-body {
	margin-top: 72px;
}

