.comment-outer-wrapper {
	background-color: white;
	padding: 20px;
}
.comment-content-wrapper {
	background: white;
}

.comment-input__control {
	min-height: 40px;
}
.tp-container.new-thread {
	padding: 0 30px;
	border-bottom: none;
}
.co-thread-reply-wrapper {
	padding: 0;
    width: 100%;
    position: relative;
    bottom: 0px;
    height: auto;
    overflow: scroll;
    top: 0px;
    overflow-x: hidden;
    background: transparent;
}
.thread-indent-1 {
	padding-left: 60px;
}

.tp-preview-full .comment-edit-wrapper {
  /*display: none;*/
}
.tp-preview-full .reply-ico-wrapper {
  /*display: none;*/
}
.inline-comments .inline-comments .reply-ico-wrapper {
  display: none;
}
.comment-row-wrapper {
	/*position: absolute;*/
    right: 0;
    width: 530px;
    background: transparent;
    bottom: 0;
    top: 0;
    margin-left: 8px;
    width: 50%;
    z-index: 0;
}
.thread-body .comment-row-wrapper {
    margin-left: 0;
    padding: 0px 0px 48px 12px;
}
.discussion-info {
	padding: 0px 12px 8px !important;
}
.comment-row a {
  color: #285A00 !important;
}

.comment-input {
    padding: 0;
    height: 120px;
    border: 2px solid rgba(40, 90, 0, .3);
    border: 3px solid rgba(40, 90, 0, .4);
}

.comment-indent {
    outline: none;
    padding-left: 0px;
    padding-right: 0px;
    /*border-top: 2px solid #F4F9FB;*/
}
.commentlist-wrapper .main-reply {
    position: relative !important;
    width: auto;
    padding-left: 40px;
}
.main-reply {
    position: relative;
    bottom: 0;
    z-index: 10000000000;
    width: auto;
    margin: 0 0 4px;
}
.comment-input textarea {
    overflow: auto !important;
    padding-right: 80px !important;
}
.comment-bg {
  margin: 0;
}
.comment-input-container {
    padding: 0px;
    /*margin-top: 2px;*/
}
.tp-wrapper .comment-inner {
  /*border-left: none;*/
  background-color: white;
  padding: 12px 16px 8px;
  margin-bottom: 4px;
/*  border-left-width: 4px !important;
  border-left-color: rgba(255,171,140,.8) !important;*/
}
.tp-wrapper .comment-inner-inner {
    overflow-y: hidden;
}
.comment-wrapper {
  border-radius: 0;
  position: relative;
  margin: 0;
}


.inline-comments .comment-indent {
  /*display: none;*/
  padding-left: 40px;
  display: block;
  width: 100%;
}

.comment-input__suggestions {
  color: #285A00;
    padding: 0;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.comment-input__suggestions__item {
  padding: 6px 8px !important;
}
.comment-input__suggestions__item.comment-input__suggestions__item--focused {
  background: #285A00;
  color: white;
}





