.hero-container {
	height: auto;
	width: 100%;
	position: relative;
}
.hero-container.logged-out {
}
.hero-content {
	height: 500px;
	width: 100%;
	position: relative;
	background-image: linear-gradient(0deg, #FF84A0 0%, #FFD983 90%);
}
.marketing-page.navigation-bar {
    background-color: rgba(255, 217, 131, .8);
    background: rgba(255,255,255,.5);
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    padding: 0 20px;
    height: 40px;
}

.marketing-page.navigation-bar .nav-module {
	border-bottom: none !important;
	padding-top: 0 !important;
}
.marketing-page.navigation-bar .nav-module .nav-text {
	color: #45CAE6;
}
.create-page .hero-container {
	background-color: #D0F5FF;
	width: 100%;
	position: absolute;
	background-attachment: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: initial;
}
.homepage-logo {
	width: 171px;
	height: 96px;
}
.hero-ocean {
	width: 100%;
	height: 192px;
	background-color: #45DAE6;
	position: relative;
	padding: 10px 10px 30px 10px;
}


.create-content {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 70px;
    z-index: 3;
}

.hero-bg {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	background-image: linear-gradient(121deg, #06A07C 0%, #83FFDA 100%);
}
.hero-map {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: url(img/bg/map_A.png);
	background-attachment: fixed;
	animation: animatedBackground 40s linear 1;
	z-index: 3;
	background-position: center;
}
.hero-grid {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-attachment: fixed;
	background-image: url(img/grids/80__white.png);
	z-index: 3;
}
.header-container .navigation-bar {
  background-color: white;

}
.header-container.logged-out .navigation-bar {
}
.about-intro {
	padding: 20px;
}
.guide-diagram {
	margin-top: -70px;
    z-index: 1;
}
.feature-list-wrapper {
	height: 600px;
}
.feature-list {
	padding: 20px;
}
.feature-item {
	margin-bottom: 40px;
}
.feature-icon {
	margin: 0 40px 20px;
}
.guide-diagram img {
	max-width: 600px;
}
.page-landing .page-title-wrapper,
.page-landing .cover--empty {
	display: none;
}
.page-landing.page-common {
	padding-top: 0;
}
@keyframes animatedBackground {
	from { background-position: -50% 0; }
	to { background-position: 120% 0; }
}