@media (max-width: 800px) and (min-width: 214px) {



/******
******
************************************ 1. Header + Nav
******
******/
body {
}
.pdding-mobile-none {
  padding: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.mobile-hide {
  display: none;
}
.header-container {
}
.header-wrapper {

}
.logo-graphic {
}
.logo-main {
}
.logo-module {
}
.flx.navigation-bar {
    bottom: 0;
    top: initial;
    left: 0;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    font-size: 11px;
    height: 60px;
    position: fixed;
    width: 100%;
    right: 0;
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,.1);
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.navigation-bar .nav-module.create-review {
/*  background: white;
  border-radius: 3px;
  border: 14px solid blue;
  position: fixed;
  left: 0;
  right: 0;
  width: 60px;
  margin: 0 auto;
  bottom: 20px;
  border-radius: 100px;
  text-indent: 2000px;
  height: 60px;*/
}
.navigation-bar .nav-text {
    font-size: 11px;
    letter-spacing: 1px;
}
.navigation-bar .nav-module {
}
.navigation-bar .nav-icon {
  width: 32px;
  height: 32px;
}
.nav-pills .nav-item {
    font-size: 11px;
    letter-spacing: 0px;
}

.nav-module.nav-feed {
  order: 1;
}
.nav-module.nav-inbox {
  order: 2;
}
.nav-module.nav-editor {
  order: 3;
}
.nav-module.nav-saved {
}
.nav-module.nav-profile {
}
.navigation-bar .nav-module.nav-editor {
}


.navigation-bar .nav-module.active,
.navigation-bar .nav-module.nav-editor.active {
  border-bottom: none;
  padding-top: 0;

}
.navigation-bar .nav-module:hover {

}




.navigation-bar .nav-editor .nav-icon {
  margin: 6px 0 4px;
}
.nav-link.create-review {
  position: fixed;
  top: 0px;
  right: 0px;
}
.nav-module.nav-user-image {
	position: fixed;
	top: 0px; right: 0px;
}
.nav-module .header-badge {

}


/******
******
************************************ Typography
******
******/
.reviewer-name {

}
.text-subject-name {

}
.text-category {

}




/******
******
************************************ ReviewPreview
******
******/
.review-container {
  display: block;
  max-width: 600px;
}
.review-container > div {
}
.review-data-container {
}
.cta-box {
  width: auto;
}
.comments-preview-wrapper {
  width: 100%;
}
.cta-wrapper .cta-icon {
}
.review-image-wrapper {
  height: 120px;
  background-color: white;
  display: inline-block;
}
.reviewer-photo img {
}


/** Home Page **/
.page-common {
  margin: 0;
}
.page-common.no-feed-toggle {
  padding-top: 0;
}

.home-page {
    margin: 0 auto;
    padding: 0;
}
.feed-wrapper {
}
.profile-page {
}

.form-wrapper {
  width: 100%;
}

.subject-image {
}
.subject-image img {
  padding: 0px;
}

.subject-name-container {
}
.review-data-module {
  width: 100%;
  padding: 15px;
}
.home-page .feed-toggle {
  top: 50px;
}
.feed-toggle.tags-toggle {
  top: 80px;
}
.home-page .feed-toggle .nav-link:first-child {
  margin-left: 0px;
}

.reviews-wrapper {
}

.count-badge {
  padding: 2px 6px 1px 8px;
}

.article-page.page-common {
  margin: 110px 10px;
}
.article-page .review-data-container {
width: 100%;
}
.your-review .review-data-container,
.other-review .review-data-container {
  margin-top: 0px;
}
.article-page .comments-container {
  padding: 0px;
  width: 100%;
  margin-left: 0px;
  margin-top: -1px;
  max-width: 355px;
}
.article-page .text-subject-name {
  font-size: 22px;
}

.your-review .review-image-wrapper,
.other-review .review-image-wrapper {
  display: none;
}
.main-review .subject-name-container {
  top: 50px;
  padding: 5px 0 0;
}
.reviewer-photo {
  box-shadow: 0 0 0 4px white;
}
.photo-rating-module {
  margin-top: 0;
  margin-bottom: 10px;
}
.reviewer-name-container {
  margin-top: -1px;
  margin-bottom: 0;
}
.subject-caption {
    font-size: 16px;
    line-height: 20px;
}


.flx.it-author-controls {
  padding-right: 0;
  padding-left: 0;
}

.profile-page .itinerary__cover .v2-type-h2,
.home-page .itinerary__cover .v2-type-h2 {
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 32px;
}
.page-itinerary .itinerary__cover__topbar  {
  left: 10px;
}

.cover-height {
}

/******
******
************************************ PROFILE
******
******/

.profile-page .feed-toggle {
    width: 100%;
}
.profile-page .user-info {
  width: 100%;
}
.profile-page .profile-info {
  width: 100%;

}
.profile-page .user-info .user-img {
  width: 70px;
  height: 70px;
  margin: 0;
}
.profile-page .feed-toggle .nav {
  margin: 0 auto;
}
.profile-page .user-info .user-data {
}
.profile-page .profile-followers-wrapper {
  font-size: 12px;
  height: 30px;
}
.user-bio {
}
.user-action {

}
.bttn-style.bttn-subtle-gray {
  background: transparent;
  color: #84878D;
  border: 1px solid transparent;
}
.bttn-style.bttn-subtle-gray:hover {
  background: #84878D;
  color: white;
}
/******
******
************************************ 6. Editor
******
******/
.editor-page.page-common {
} 
.editor-page .text-page-title {
  font-size: 16px;
}
.editor-page .page-title-wrapper {
}
.create-new-link {
  margin-top: 10px;
}
.create-popup .text-subject-name {
  font-size: 16px;
}
.create-popup {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 10px;
    position: absolute;
    top: 50px;
    z-index: 100;
    bottom: 0;
}
.popup-overlay {
  width: 100%;
}
.create-subject-image.subject-image img {
    width: 100%;
    height: auto;
    padding: 0px;
}
.create-subject-image.subject-image {
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    min-width: 80px;
    min-height: 80px;
}

.create-popup .text-page-subtitle {
    max-height: 100px;
}





/* TIP */

.tip-wrapper .tip-inner {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.tip-wrapper .tip__cta-box {
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
}
.tip-wrapper .tip__cta-box .tip__actions-wrapper {
  margin-bottom: 0;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.tip-inner .tip__title-module {
  margin-top: 10px;
  margin-left: -4px;
}
.page-subject .tip-inner .tip__title-module {
  margin-top: 0;
  margin-left: -4px;
}
.tip-wrapper .cta-wrapper {
  margin-top: 0;
  margin-left: auto;
}
.tip-wrapper .cta-container {
    -webkit-flex-direction: row;
    flex-direction: row;
}
.tip-wrapper .tip__data-module {
  margin-left: 0 !important;
}
.tip__image-module { 
  width: 100%;
}
.tip__info-module {
  -webkit-flex-direction: column;
   flex-direction: column;
   width: 100%;
   padding: 10px 0;
}
.tip__data {
  padding: 10px 0;
}
.tip__author-photo img.user-image.user-image-md,
.tip__rating-module .tip__rating {

}
.tip__rating-module .tip__rating {

}

/* TIP PREVIEW */
.v2-type-h3 {
  font-size: 18px;
}
.v2-type-mono.mono-sm {
  font-size: 11px;
  line-height: 14px;
}
.mrgn-right-lg {
  margin-right: 20px;
}
.tip__image-module {
  height: 200px;
  width: 100%;
}


.profile-page .itinerary__cover,
.home-page .itinerary__cover {
  width: 100%;
  padding: 10px 10px 20px;
  margin: 0 0 40px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.itinerary__cover.cover--empty {
  padding: 10px 40px;
}
.itinerary__cover.cover--empty ul {
  max-width: 260px;
}


.create-page .hero-container {
}
.create-page .hero-content {
  padding: 0;
  margin-top: 70px;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.create-page .form-wrapper {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.create-page .vb--create {
  margin-bottom: 100px;
}
.vb.vb--mobile-full,
.user-info .vb.vb--sm  {
  width: 100%;
  height: 40px;
  padding: 10px;
}
.vb.vb--save {
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 90px;
  height: 40px;
  margin-bottom: 0px;
}
.page-subject .vb.vb--save {
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
}
.tip__cta-box .vb__label {
  margin-top: 0;
  margin-left: 10px;
}

.dialog--save__wrapper {
  width: 100%;
}

.back-to-top {
    bottom: 80px;
    right: 20px;
  }
}