@media (max-width: 1000px) and (min-width: 214px) {



/******
******
************************************ 1. Header + Nav
******
******/
body {
  padding-top: 50px !important;
}
.header-wrapper {
  height: 50px;
}
.logo-graphic {
  margin: 0 auto;
}
.logo-main {
  display: none;
}
.logo-module {
  right: 0;
  width: 100%;
  padding: 0px 10px 0px 15px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 50px;
}
.navigation-bar.roow {
	bottom: 0;
	top: initial;
	left: 0;
  -webkit-justify-content: center;
  justify-content: center;
  border-top: 1px solid rgba(0,0,0,.2);
  padding: 0;
    -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
      -webkit-justify-content: space-around;
   justify-content: space-around;
   font-size: 11px;
   height: 60px;
   background-color: #242833;
}
.navigation-bar .nav-module.create-review {
  background: white;
  border-radius: 3px;
  border: 14px solid blue;
  position: fixed;
  left: 0;
  right: 0;
  width: 60px;
  margin: 0 auto;
  bottom: 20px;
  border-radius: 100px;
  text-indent: 2000px;
  height: 60px;
}
.navigation-bar .nav-module {
  margin: 0 10px;
  padding: 0 5px;
  height: 60px;
  font-size: 10px;
}
.navigation-bar .nav-icon {
  width: 32px;
  height: 32px;
}
.navigation-bar .nav-editor .nav-icon {
  margin: 6px 0 4px;
}
.nav-link.create-review {
  position: fixed;
  top: 0px;
  right: 0px;
}
.nav-module.nav-user-image {
	position: fixed;
	top: 0px; right: 0px;
}
.nav-module .header-badge {
  font-size: 13px;
  margin-top: -61px;
  box-shadow: 0 0 0 2px #242833;
}


/******
******
************************************ Typography
******
******/
.reviewer-name {
  font-size: 14px;
}
.text-subject-name {
  font-size: 16px;
}
.text-category {
  font-size: 12px;
}




/******
******
************************************ ReviewPreview
******
******/
.review-container {
  display: block;
  max-width: 600px;
}
.review-container > div {
}
.review-data-container {
  width: 100% !important;
  margin-left: 0;
  margin-top: 0;
}
.cta-box {
  width: 100%;
  font-size: 10px;
}
.comments-preview-wrapper {
  width: 100%;
}
.cta-wrapper .cta-icon {
  margin: 5px;
}
.review-image-wrapper {
  height: 120px;
  background-color: #ccc;
  display: inline-block;
}



/** Home Page **/
.page-common {
  margin: 60px 10px;
}
.page-common.no-feed-toggle {
  margin: 0px 10px;
}
.home-page {
    margin: 60px auto;
    padding: 0 10px;
    max-width: 480px;
  }
.profile-page {
  margin: 60px 10px;
}

.form-wrapper {
  width: 100%;
}

.subject-image {
  height: 120px;
}
.subject-image img {
  width: 100% !important;
  height: 160px !important;
  padding: 0px;
}

.subject-name-container {
}
.review-data-module {
  width: 100%;
  padding: 15px;
}
.feed-toggle {
  padding: 0px 40px 0px 40px;
  font-size: 13px;
}
.home-page .feed-toggle {
  top: 50px;
}
.home-page .feed-toggle .nav {
  margin: 0 auto;
}
.home-page .feed-toggle .nav-link:first-child {
  margin-left: 20px;
}

.reviews-wrapper {
}



.article-page.page-common {
  margin: 65px 10px;
}
.article-page .review-data-container {
  margin-top: 0;
  margin-left: 0;
}
.your-review .review-data-container,
.other-review .review-data-container {
  margin-top: 0px;
}
.article-page .comments-container {
  padding: 0px;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  max-width: 600px;
}
.article-page .text-subject-name {
  font-size: 18px;
}

.your-review .review-image-wrapper,
.other-review .review-image-wrapper {
  display: none;
}
.main-review .subject-name-container {
  top: 50px;
  padding: 5px 0 0;
}
.reviewer-photo {
  box-shadow: 0 0 0 4px white;
  width: 46px;
  height: 46px;
}
.photo-rating-module {
  margin-top: 0;
  margin-bottom: 10px;
}
.reviewer-name-container {
  margin-top: -1px;
  margin-bottom: 0;
}
.subject-caption {
    font-size: 18px;
    line-height: 24px;
}
/******
******
************************************ PROFILE
******
******/

.profile-page .feed-toggle {
    width: 100%;
    margin: 0 auto;
    left: 0;
    top: 150px;
}
.profile-page .user-info {
    top: 50px;
    width: 100%;
    left: 0;
    right: 0;
    height: 100px;
    padding: 10px;
}
.profile-page .profile-info {
    -webkit-flex-direction: row; 
   flex-direction: row;
   -webkit-align-items: flex-start;
   align-items: flex-start;
}
.profile-page .user-info .user-img {
  width: 70px;
  height: 70px;
  margin: 0;
}
.profile-page .feed-toggle .nav {
  margin: 0 auto;
}
.profile-feed {
  margin-left: 0;
  margin-top: 90px;
}
.profile-page .user-info .user-data {
  margin-left: 10px;
}
.profile-page .profile-followers-wrapper {
  font-size: 12px;
  height: 30px;
}
.user-bio {
  max-height: 32px;
  overflow: auto;
  font-size: 12px;
  line-height: 16px;
  overflow: scroll;
}
.user-action {
  position: absolute;
  right: 0px;
  top: 0px;
}
.bttn-style.bttn-subtle-gray {
  background: transparent;
  color: #84878D;
  border: 1px solid transparent;
}
.bttn-style.bttn-subtle-gray:hover {
  background: #84878D;
  color: white;
}
/******
******
************************************ 6. Editor
******
******/
.editor-page.page-common {
  margin: 20px 10px;
} 
.editor-page .text-page-title {
  font-size: 32px;
  width: 100%;
  text-align: left;
}
.editor-page .page-title-wrapper {
  padding: 40px 0 10px;
  width: 100%;
}
.create-new-link {
  margin-top: 10px;
}
.create-popup .text-subject-name {
  font-size: 16px;
}
.create-popup {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 10px;
    position: absolute;
    top: 20px;
}
.create-subject-image.subject-image img {
  width: 160px!important;
  height: 160px !important;
}
.create-subject-image.subject-image {
    width: 160px;
    height: 160px;
    margin: 0 20px 20px 0;
    overflow: hidden;
    min-width: 160px;
    min-height: 160px;
}





.rating-graphic {
  width: 24px;
  height: 24px;
  background-size: 30px;
}
.rating-wrapper--3 .rating-graphic.rating--2,
.rating-wrapper--2 .rating-graphic.rating--2,
.rating-wrapper--1 .rating-graphic.rating--1,
.rating-wrapper-0 .rating-graphic.rating-0,
.rating-wrapper-1 .rating-graphic.rating-1,
.rating-wrapper-2 .rating-graphic.rating-2,
.rating-wrapper-3 .rating-graphic.rating-2,

.rating-graphic.rating--2:hover,
.rating-graphic.rating--2:hover,
.rating-graphic.rating--1:hover,
.rating-graphic.rating-0:hover,
.rating-graphic.rating-1:hover,
.rating-graphic.rating-2:hover,
.rating-graphic.rating-2:hover
 {
    width: 28px;
    height: 28px;
 }
.rating-container {
  margin-top: 2px;
}



}