@media (max-width: 1000px) and (min-width: 214px) {



/******
******
************************************ 1. Header + Nav
******
******/
.header-wrapper {
  height: 50px;
}
.logo-graphic {
  margin: 0 auto;
}
.logo-main {
  display: none;
}
.logo-module {
  right: 0;
  width: 100%;
  padding: 0px 10px 0px 15px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 50px;
}
.navigation-bar.roow {
	bottom: 0;
	top: initial;
	left: 0;
  -webkit-justify-content: center;
  justify-content: center;
  border-top: 1px solid rgba(0,0,0,.2);
  padding: 0;
    -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
      -webkit-justify-content: space-around;
   justify-content: space-around;
   font-size: 11px;
   height: 60px;
   background-color: #3D414A;
}
.navigation-bar .nav-module.create-review {
  background: white;
  border-radius: 3px;
  border: 14px solid blue;
  position: fixed;
  left: 0;
  right: 0;
  width: 60px;
  margin: 0 auto;
  bottom: 20px;
  border-radius: 100px;
  text-indent: 2000px;
  height: 60px;
}
.navigation-bar .nav-module {
  margin: 0 10px;
  padding: 0 5px;
  height: 60px;
  font-size: 10px;
}
.navigation-bar .nav-icon {
  width: 32px;
  height: 32px;
}
.navigation-bar .nav-editor .nav-icon {
  margin: 6px 0 4px;
}
.nav-link.create-review {
  position: fixed;
  top: 0px;
  right: 0px;
}
.nav-module.nav-user-image {
	position: fixed;
	top: 0px; right: 0px;
}
.nav-module .header-badge {
  font-size: 13px;
  margin-top: -61px;
  box-shadow: 0 0 0 2px #3D414A;
}


/******
******
************************************ ReviewPreview
******
******/
.review-container {
  display: block;
  max-width: 600px;
}
.review-container > div {
}
.review-data-container {
  width: 100% !important;
  margin-left: 0;
  margin-top: 0;
}
.cta-box {
  width: 100%;
}
.comments-preview-wrapper {
  width: 100%;
}
.text-subject-name {
  font-size: 18px;
}

/** Home Page **/
.page-common {
  margin: 80px 10px;
}
.home-page {
    margin: 60px auto;
    padding: 0 10px;
    max-width: 480px;
  }
.profile-page {
  margin: 80px 10px;
}

.form-wrapper {
  width: 100%;
}

.subject-image {
  height: 120px;
}
.subject-image img {
  width: 100% !important;
  height: 160px !important;
  padding: 0px;
}

.subject-name-container {
}
.review-data-module {
  width: 100%;
  padding: 10px;
}
.feed-toggle {
  padding: 0px 40px 0px 40px;
  font-size: 13px;
}
.home-page .feed-toggle {
  top: 50px;
}
.home-page .feed-toggle .nav {
  margin: 0 auto;
}
.home-page .feed-toggle .nav-link:first-child {
  margin-left: 20px;
}

.reviews-wrapper {
}

.article-page .review-data-container {
  margin-top: 0;
  margin-left: 0;
}
.your-review .review-data-container,
.other-review .review-data-container {
  margin-top: 0px;
}
.article-page .comments-container {
  padding: 0px;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  max-width: 600px;
}
.article-page .text-subject-name {
  font-size: 18px;
}

.your-review .review-image-wrapper,
.other-review .review-image-wrapper {
  display: none;
}
.main-review .subject-name-container {
  top: 60px;
}

/******
******
************************************ PROFILE
******
******/

.profile-page .feed-toggle {
    width: 100%;
    margin: 0 auto;
    left: 0;
    top: 150px;
}
.profile-page .user-info {
    top: 50px;
    width: 100%;
    left: 0;
    right: 0;
    height: 100px;
    padding: 10px;
}
.profile-page .profile-info {
    -webkit-flex-direction: row; 
   flex-direction: row;
   -webkit-align-items: flex-start;
   align-items: flex-start;
}
.profile-page .user-info .user-img {
    width: 70px;
    height: 70px;
    margin: 0;
}
.profile-page .feed-toggle .nav {
  margin: 0 auto;
}
.profile-feed {
  margin-left: 0;
  margin-top: 90px;
}
.profile-page .user-info .user-data {
  margin-left: 10px;
}
.user-bio {
  max-height: 100px;
  overflow: auto;
  font-size: 14px;
}
.user-action {
  position: absolute;
  right: 0px;
  top: 0px;
}
.bttn-style.bttn-subtle-gray {
    background: transparent;
    color: #84878D;
    border: 1px solid transparent;
}
.bttn-style.bttn-subtle-gray:hover {
    background: #84878D;
    color: white;
}
/******
******
************************************ 6. Editor
******
******/
.editor-page .text-page-title {
    font-size: 32px;
    width: 100%;
    text-align: left;
}
.editor-page .page-title-wrapper {
    padding: 40px 0 10px;
    width: 100%;
}
.create-new-link {
  margin-top: 10px;
}


}