/****** 
******
************************************ REVIEW CONTAINER
******
******/
.reviewpreview-wrapper {

}
.main-review {
  max-width: 600px;
  margin: 0 auto 20px;
}
.your-review .subject-name-container,
.other-review .subject-name-container {
  display: none;
}
.main-review .subject-name-container {
  text-align: center;
  position: fixed;
  top: 70px;
  left: 0px;
  background: rgba(255,255,255,.95);
  border-bottom: 0px solid rgba(0,0,0,.1);
  right: 0px;
  max-width: none;
  z-index: 100;
  padding: 10px;
}
.main-review .text-subject-name {
}
.your-review .subject-image img,
.other-review .subject-image img {
}
.your-review .subject-image,
.other-review .subject-image {
}

.your-review .review-image-wrapper,
.other-review .review-image-wrapper {
}
.review-image-wrapper {
    width: 100%;
    height: 80px;
    background: #ccc;
}
.subject-name-container {
    text-align: center;
    width: 100%;
    margin: 100px auto 0;
    max-width: 760px;
}
.reviews-wrapper {
  margin: 0 auto;
  width: 355px;
}
.subject-name-container {
    text-align: left;
    margin: 0;
    padding: 0;
}
.text-subject-name {
}
.text-category {
    display: inline-block;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.text-feed-section-title {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    color: #161F34;
    opacity: 1;
    font-weight: 700;
}
.review-container {
  padding: 20px;
  width: 100%;
  margin-top: -1px;
}
.pic-and-review {
  width: 100%;
}
.subject-image img {
    width: 355px;
    height: 160px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 0 -1 rgba(0,0,0,.1) inset;
}

.review-container > div {
}
.subject-image {
  width: auto;
  height: auto;
  background: white;
  overflow: hidden;
}

.review-data-container {
  width: 100%;
}
.review-data-module {
  width: 100%;
  padding: 0px;
}

.subject-info-box .info {
  margin-top: 10px;
}
.subject-info-box .info > div{
}

.photo-rating-module {
  margin: 0 0 10px 0px;
}
.empty-prompt {
  padding: 20px 0 40px;
  max-width: 600px;
  margin: 0 auto 20px;
  color: #9EA0A5;
  font-weight: 100;
}
.review-prompt {
    width: 100%;
    text-align: center;
    padding: 40px;
    max-width: 568px;
}
.review-external-link {
  display: none;
}
.article-page .review-external-link {
  display: inline-block;
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  opacity: .5;
  margin: 5px;
}
.article-page .review-container {
  margin-bottom: 0 !important;
}

.article-page .cta-wrapper.cta-wrapper-comment {
  display: none;
}
/****** 
******
************************************ RATING FACES
******
******/
.rating-container {
  margin-left: 0px;
  direction: rtl;
}
.rating-divider {
  height: 2px;
    background: #526166;
    width: 10px;
    opacity: .2;
}
.rating-graphic {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 100px;
  margin-right: 0px;
  color: white;
  text-align: center;
  line-height: 32px;
  opacity: 1;
  background-color: #FAFAF8;
  margin-right: 0;
  border: none;
  overflow: hidden;
  object-position: center;
  object-fit: cover;
  /*box-shadow: 0px 6px 12px rgba(0,0,0,0.1), inset 0 0 0 2px #526166;             */
  box-shadow: 0px 6px 12px rgba(0,0,0,0.1);                       
  padding: 0;
}
.rating-graphic:focus {
  outline: 0 !important;
}

.rating-wrapper--3 .rating-graphic.rating--2,
.rating-wrapper--2 .rating-graphic.rating--2,
.rating-wrapper--1 .rating-graphic.rating--1,
.rating-wrapper-0 .rating-graphic.rating-0,
.rating-wrapper-1 .rating-graphic.rating-1,
.rating-wrapper-2 .rating-graphic.rating-2,
.rating-wrapper-3 .rating-graphic.rating-2,
.rating-graphic.rating--2:hover,
.rating-graphic.rating--2:hover,
.rating-graphic.rating--1:hover,
.rating-graphic.rating-0:hover,
.rating-graphic.rating-1:hover,
.rating-graphic.rating-2:hover,
.rating-graphic.rating-2:hover
 {
  opacity: 1 !important;
  background-position: center;
  display: block;           
  transition: width .1s ease-in, opacity .1s ease-in;
  /*background-image: url(img/profile_temp.png);*/
  box-shadow: 0px 6px 12px rgba(0,0,0,0.1) !important; 
}

.rating-wrapper-1 .rating-graphic.rating-2 img,
.rating-wrapper-0 .rating-graphic.rating-2 img,
.rating-wrapper-0 .rating-graphic.rating-1 img,
.rating-wrapper--1 .rating-graphic.rating-2 img,
.rating-wrapper--1 .rating-graphic.rating-1 img,
.rating-wrapper--1 .rating-graphic.rating-0 img,
.rating-wrapper--2 .rating-graphic.rating-2 img,
.rating-wrapper--2 .rating-graphic.rating-1 img,
.rating-wrapper--2 .rating-graphic.rating-0 img,
.rating-wrapper--2 .rating-graphic.rating--1 img
 {
  opacity: .1;
  box-shadow: none;
  -webkit-filter: blur(2px);
  filter: blur(2px);
    /*background-image: url(img/profile_temp.png);*/
}
.rating-wrapper-undefined .rating-graphic img {
  opacity: .1 !important;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  transition: filter .1s ease-in, opacity .1s ease-in;

}
.rating-graphic:hover ~ .rating-graphic img {
  opacity: 1 !important;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
.rating-graphic:hover img {
  opacity: 1 !important;
  -webkit-filter: blur(0px) !important;
  filter: blur(0px) !important;
}
.rating-graphic:hover {
  box-shadow: 0px 6px 12px rgba(0,0,0,0.1), 0 0 0px 4px white !important;             
  border-color: #EDF0F1;
  -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  transition: filter .1s ease-in, opacity .1s ease-in;    
}
.rating-graphic:hover ~ .rating-graphic  {
  box-shadow: 0px 6px 12px rgba(0,0,0,0.1), 0 0 0 4px white!important; 
  border-color: #EDF0F1;
  -ms-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);  
  transition: filter .1s ease-in, opacity .1s ease-in;   

}

.rating-graphic.rating--2 {
  width: 24px;
  height: 24px;
}
.rating-graphic.rating--1 {
  width: 32px;
  height: 32px;
}
.rating-graphic.rating-0 {
  width: 38px;
  height: 38px;
}
.rating-graphic.rating-1 {
  width: 46px;
  height: 46px;       
}                
.rating-graphic.rating-2 {
}

.rating-graphic.rating--2 img {
  width: 24px;
  height: 24px;
  margin-top: -10px;
  margin-right: -1px;
}
.rating-graphic.rating--1 img {
  width: 32px;
  height: 32px;
  margin-top: -4px;
}
.rating-graphic.rating-0 img {
  width: 38px;
  height: 38px;
}
.rating-graphic.rating-1 img {
  width: 46px;
  height: 46px;       
}                
.rating-graphic.rating-2 img {
  width: 60px;
  height: 60px;
}


.rating-container.cannot-rate .rating-graphic {
  pointer-events: none;
}

.rating-graphic img {
  width: 60px;
  height: 60px;
  object-position: center;
  object-fit: cover;
  border-radius: 132px;
  margin-top: -1px;
}





.review-timestamp {
  font-size: 10px;
  opacity: .4;
  margin: 5px 0 0;
  display: inline-block;
}
.reviewer-name-container {
  margin: 5px 0 5px 12px;
}
.reviewer-photo {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 0px;
  background: #0B101C;
  /*box-shadow: 0 3px 5px 4px rgba(0,0,0,.1);*/
  /*border: 7px solid white;*/
}
.reviewer-photo img {
  /*object-fit: none;  Do not scale the image */
  object-position: center; /* Center the image within the element */
  object-fit: cover;
  height: 80px;
  width: 80px;
  object-fit: cover;
    background: url(../img/graphic42_face_coo.png) no-repeat center;
    background-color: #E6E7E8;
    background-size: 30px;

}

.reviewer-name {
  color: #2D447A;
}





/****** 
******
************************************ CTA
******
******/
.cta-container {
  font-size: 9px;
  padding: 0;
  width: 100%;
}
.cta-wrapper {
  padding: 0 5px;
}
.cta-box {
  margin-top: -1px;
  width: 100%;
}
.cta-box .icoon {
  font-size: 32px;
  margin: 10px 30px 0;
}

.article-page .cta-wrapper.cta-wrapper-comment {
  display: none;
}
.cta-wrapper .cta-icon {
  height: 32px;
  width: 32px;
  margin: 10px;
  background: url(img/icon32_like_off.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.cta-wrapper:hover {
  cursor: pointer;
}
.cta-wrapper .cta-icon.cta-like {
  background-image: url(img/icon32_like_off.png);
}
.cta-wrapper:hover .cta-icon.cta-like {
  background-image: url(img/icon32_like.png);
}
.cta-wrapper .cta-icon.cta-liked {
  background-image: url(img/icon32_like.png);
}
.cta-wrapper .cta-icon.cta-save {
  background-image: url(img/icon32_save_off.png);
}
.cta-wrapper:hover .cta-icon.cta-save,
.cta-wrapper .cta-icon.cta-saved {
  background-image: url(img/icon32_save.png);
}
.cta-wrapper .cta-icon.cta-saved {
  background-image: url(img/icon32_save.png);
}
.cta-wrapper .cta-icon.cta-share {
  background-image: url(img/icon32_share_off.png);
}
.cta-wrapper:hover .cta-icon.cta-share {
  background-image: url(img/icon32_share.png);
}
.cta-wrapper .cta-icon.cta-comment {
  background-image: url(img/icon32_comments_off.png);
}
.cta-wrapper:hover .cta-icon.cta-comment,
.cta-wrapper .cta-icon.cta-comment.comment-on {
  background-image: url(img/icon32_comments_on.png);
}

.comments-preview-wrapper {
  padding: 10px 20px;
  font-weight: 100;
  margin-top: -1px;
  font-size: 14px;
}
.commenter-pic {
  border-radius: 50px;
  width: 32px;
  height: 32px; 
  overflow: hidden;
  margin: 0px 10px 0 0;
}
.commenter-pic img {
    object-fit: cover;
    width: 32px;
    height: 32px;
}
.comment-counter {
  font-size: 11px;
  font-weight: 400;
  text-align: left; 
  margin-top: 12px;
  display: inline-block;
  /*border-top: 1px solid #EBEBEB;*/
}



/******
******
************************************************ COMMENTS 
******
******/
.comments-container {
  width: 355px;
  margin-top: -1px;
}
.comments-module {
  width: 100%;
  max-width: 820px;
}
.delete-wrapper {
  position: absolute;
  width: auto;
}
.delete-button {
    display: inline-block;
    visibility: hidden;
    font-size: 1em;
    float: right;
    opacity: .5;
}
.delete-button:hover {
  opacity: .8;
}
.reviews-wrapper:hover .delete-button {
    visibility: visible;
}