body {
  font-family: Helvetica, sans-serif;
  color: #292F3D;
  letter-spacing:1px;
  padding-top: 70px;
  /*background-color: #FAFAF8;*/
  font-family: 'Roboto', sans-serif;
}

nput[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor:pointer; 
}

input[type="checkbox"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family: Helvetica, sans-serif;

}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

.form-control {
  font-weight: 300;
  font-size: 16px;
  padding: 20px;
}


/*Reset Safari User Agent Styles*/
* {-webkit-padding-start: 0px;}

.loading-module {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  /*background-image: linear-gradient(-270deg, #2EC299 0%, #00ACED 100%);*/
  color: black !important;
  font-size: 24px;
}
.error-module {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  /*background-image: linear-gradient(-270deg, #2EC299 0%, #00ACED 100%);*/
  color: white !important;
  font-size: 24px;
}
.status-module {
  padding: 40px 0;
}
.highlight-green {
  color: #24CC93;
  display: inline;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.ta-center {
  text-align: center;
}

/****** 
******
************************************ DOM STYLING SHARED
******
******/
.mobile-hide {
  }
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.empty-page {
  padding: 20%;
}
.w-max {
  max-width: 1025px;
  max-width: 1225px;
  margin-left: auto;
  margin-right: auto;
}
.w-max-2 {
  max-width: 1200px;
}
.w-100 {
  width: 100%;
}
.w-third {
  width: 30%;
}

.default-card-white {
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
}

.gray-border {
  border: 1px solid #E6E7E8;
  background-color: white;
}
.bottom-divider {
  border-bottom: 1px solid #E6E7E8;
}
.form-wrapper {
    margin: 0 auto;
    padding: 20px;
}
.create-form-wrapper {
  border: 1px solid rgba(0,0,0,.1);
  background: rgba(255,255,255,1);
}
.bx-shadow,
.box-shadow {
  box-shadow: 0px 11px 24px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 11px 24px rgba(0,0,0,0.05);
}

.center-img {
  object-position: center; /* Center the image within the element */
  object-fit: cover;
}
.shift-up-10 {
    transform: translateY(-10px);
}
.shift-up-5 {
    transform: translateY(-5px);
}
.shift-left-1 {
    transform: translateX(-1px);
}
.dash {
  opacity: .3;
  color: #161F34;
}
.DN {
  display: none !important;
}
.disable {
  opacity: .4;
  pointer-events: none;
}


/****** 
******
************************************ BUTTONS 
******
******/
.default-bg {
  /*background-image: linear-gradient(270deg, #4BDEC8 3%, #0095FF 100%);*/
  background: #1D2C4A;
  height: 100%;
  width: 100%;
}
.default-bg--white {
  background: white;
  height: 100%;
  width: 100%;
}
.temp-image {
  width: 100%;
  background: white;
  height: auto;
  padding: 10px;
  text-align: left;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,.3);
  font-size: 16px;
  margin-bottom: 10px;
  opacity: .3;
}
.temp-text {
  width: 100%;
}


.tip-delete {
  width: 60px;
}

.feed-pic-wrapper {
  width: 60px;
  height: 60px;
}
.image--basic {
  width: 60px;
  height: 60px;
  border-radius: 0;
  border: 0;
  overflow: hidden;
}
.user-photo-container {
  overflow: hidden;
  border-radius: 50px;
  width: 32px;
  height: 32px; 
  overflow: hidden;
  object-fit: cover;
}
.user-photo-container img {
  object-position: center; /* Center the image within the element */
  object-fit: cover;
  width: 100%;
}
.user-image {
  
}
img.user-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid rgba(0,0,0,.1);
}
img.user-image.user-image-sm {
  width: 40px;
  height: 40px;
}
img.user-image.user-image-md {
  width: 60px;
  height: 60px;
}

.caption-link-subtle {
  font-size: 12px;
    opacity: .5;
}
.caption-link-subtle:hover {
    opacity: 1;
}
.width-100 {
  width: 100% !important;
}
@keyframes colorchange
    {
      0%   {background: #51EBB7;}
      25%  {background: #E96141;}
      50%  {background: #BAB9A5;}
      75%  {background: #96A6B6;}
      100% {background: #5ADAF3;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #51EBB7;}
      25%  {background: #E96141;}
      50%  {background: #BAB9A5;}
      75%  {background: #96A6B6;}
      100% {background: #5ADAF3;}
    }








/****** 
******
************************************ HEADER 
******
******/
.header-container {
    position: fixed;
    z-index: 100;
    height: 70px;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,1);
    /*background-color:#004131;*/
    /* Rectangle 6: */
    /*background-image: linear-gradient(90deg, #1C398C 0%, #59FFF2 66%, #FFFDCD 100%);*/
    /*border-bottom: 1px solid rgba(0,0,0,.1);*/
    /* Rectangle 6: */
    opacity: 1;
    /*background-image: linear-gradient(90deg, #1C398C 0%, #59FFF2 65%, #B5FEE3 100%);*/
}
.header-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.logo-module {
  padding: 0px;
  height: 40px;
  width: 220px;
  font-weight: 700;
  margin: 12px 40px;
  z-index: 2;

}
a.logo-module:hover,
a.logo-module:active,
a.logo-module:focus {
  text-decoration: none;
  opacity: 1;
}
.logo-main {
  font-size: 17px;
  height: 38px;
  font-weight: 400;
  margin-left: 20px;
  letter-spacing: 7px;
  color: rgba(0,0,0,.8);
  margin-top: 17px;
  font-family: 'Arimo', sans-serif;
}
.logo-tagline {
    font-size: 14px;
    font-weight: 100;
    opacity: .4;
    display: none;
}
.logo-circle {
  display: inline-block;
  background: black;
  border-radius: 32px;
  width: 20px;
  height: 21px;
  margin: 0 2px 0 1px;
}
.navigation-bar {
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
  z-index: 2;
  padding: 0px;
  color: black;
}
.navigation-bar .nav-module {
  text-align: center;
  width: auto;
  height: auto;
  font-weight: 400;
  margin: 0 20px;
  padding: 0;
  font-size: 13px;
  letter-spacing: 2px;
  height: 70px;
}
.navigation-bar .nav-module img {
  width: 18px;
  height: 18px;
}
.navigation-bar .nav-module.create {
  /*color: #63A652;  Bright green */
  /*color: #4F7A39;*/
}
.nav-module.nav-editor {
  order: 1;
}
.nav-module.nav-feed {
  order: 2;
}
.nav-module.nav-inbox {
  order: 3;
}
.nav-module.nav-saved {
  order: 4;
}
.nav-module.nav-profile {
  order: 6;
}

.nav-module.nav-notifs {
  order: 5;
}


.navigation-bar .nav-module.active,
.navigation-bar .nav-module.nav-editor.active {
  opacity: 1;
  padding-top: 3px;
}
.navigation-bar .nav-module.active.create,
.navigation-bar .nav-module.nav-editor.active.create {

}
.navigation-bar .nav-module:hover {
  opacity: .9;
}
.navigation-bar .nav-module.nav-editor {
  /*background-color: rgba(43,93,210,.2);*/
}
.navigation-bar .nav-module.nav-editor:hover {
}
.navigation-bar .create-review .nav-module {
/*  animation: colorchange 40s;
-webkit-animation: colorchange 40s;*/
}

.logo-graphic {
  width: 48px;
  height: 48px;
  margin-top: 1px;
/*  -webkit-animation:spin 4s linear 1;
  -moz-animation:spin 4s linear 1;
  animation:spin 4s linear 1;*/
}
.logo-graphic img {
  fill: #27ae60;
}
.loading-module .logo-graphic {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.logo-graphic img {
  width: 48px;
  height: 48px;
}
.navigation-bar .nav-icon {
  width: 32px;
  height: 32px;
  background: transparent;
  text-align: center;
  margin: 0;
  display: inline-block; 
}
svg {
  fill: red;
}

.navigation-bar .nav-icon img {
  height: 32px;
  border-radius: 50px;
  width: 32px;
}
.navigation-bar .nav-editor .nav-icon {
  /*box-shadow: 0 0 0px 2px rgba(107,255,78,.2);*/
  border-radius: 32px;
  padding-top: 4px;
  margin: 4px 0 6px;
}
.navigation-bar .nav-editor:hover .nav-icon {
/*  box-shadow: 0 0 0px 2px rgba(107,255,78,.5);
*/  transition: box-shadow ease-in;
}
.navigation-bar .nav-profile .nav-icon img {
  box-shadow: 0 0 0 2px rgba(255,255,255,.5);
}
.navigation-bar .nav-text {
  width: 100%;
  font-family: 'Arimo', sans-serif;
}
.nav-module.nav-user-image {
    width: 40px;
    height: 40px;
    background: #E6E7E8;
    border-radius: 100px;
}

.navigation-bar.no-icons .nav-module {
  padding: 25px 0;
  font-size: 14px;
}
.count-badge {
  background-color: #F39973;
  background-color: #FF6131;
  padding: 0 7px 2px 9px;
  border-radius: 32px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 0 10px 0px rgba(0,0,0,.3);
  font-size: 12px;
  line-height: 19px;
}
.header-badge {
  font-size: 12px;
  background: rgba(0,0,0,.1);
  box-shadow: none;
  color: white;
  line-height: inherit;
  height: 22px;
  font-family: 'Roboto', sans-serif;
  padding: 2px 8px 8px 11px;
}
.header-badge.badge-on {
}
.location-dropdown {
  border-bottom: 1px solid #0AAAD5;
  display: inline-block;
  padding-bottom: 5px;
  cursor: pointer;
}


/******
******
************************************ GENERAL LAYOUT
******
******/
.page-common {
  padding-top: 0px;
  margin: 0px 0px;
  background-color: white;
}
.page-common.page-itinerary {
  background-color: white;
}
.content-wrapper {
  width: 100%;
}
.page-common.page-no-push {
  margin: 0;
  padding: 0;
}
.page-title-container {
  width: 100%;
}
.page-title-wrapper {
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid #D5E3E5;
}
.page-title-wrapper.with-feed-toggle {
  padding: 20px 0 10px;
}
.toggle-wrapper {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.feed-toggle {
  background: white;
  z-index: 10;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}
.feed-toggle.tags-toggle {
  top: 131px;
}
.article-preview {
  text-align: center;
  width: 100%;
}
.feed-wrapper {
  margin: 0 auto;
  width: 100%;
}
.tag-bar {
  overflow: scroll;
  margin: 0 auto;
  white-space: nowrap;
  height: 52px;
  padding: 0 20px;
}

.brdr-bottom {
border-bottom: 1px solid rgba(0,0,0,.1);
}

.opa-90 {
  opacity: .7;
}
.opa-80 {
  opacity: .7;
}
.opa-70 {
  opacity: .7;
}
.opa-60 {
  opacity: .6;
}
.opa-50 {
  opacity: .5;
}
.opa-40 {
  opacity: .4;
}
.opa-30 {
  opacity: .3;
}
.opa-20 {
  opacity: .2;
}
.opa-10 {
  opacity: .1;
}
.opa-5 {
  opacity: .05;
}

.mrgn-none {
  margin: 0;
}
.mrgn-all-xs {
  margin: 5px;
}
.mrgn-top-xs {
  margin-top: 5px;
}
.mrgn-right-xs  {
  margin-right: 5px;
}
.mrgn-bottom-xs  {
  margin-bottom: 5px;
}
.mrgn-left-xs  {
  margin-left: 5px;
}

.mrgn-all-sm {
  margin: 10px;
}
.mrgn-top-sm {
  margin-top: 10px;
}
.mrgn-right-sm  {
  margin-right: 10px;
}
.mrgn-bottom-sm  {
  margin-bottom: 10px;
}
.mrgn-left-sm  {
  margin-left: 10px;
}

.mrgn-all-md {
  margin: 20px;
}
.mrgn-top-md {
  margin-top: 20px;
}
.mrgn-right-md {
  margin-right: 20px;
}
.mrgn-bottom-md {
  margin-bottom: 20px;
}
.mrgn-left-md {
  margin-left: 20px;
}

.mrgn-all-lg {
  margin: 40px;
}
.mrgn-top-lg {
  margin-top: 40px;
}
.mrgn-right-lg {
  margin-right: 40px;
}
.mrgn-bottom-lg {
  margin-bottom: 40px;
}
.mrgn-left-lg {
  margin-left: 40px;
}

.pdding-all-sm {
  padding: 10px;
}
.pdding-top-sm {
  padding-top: 10px;
}
.pdding-right-sm  {
  padding-right: 10px;
}
.pdding-bottom-sm  {
  padding-bottom: 10px;
}
.pdding-left-sm  {
  padding-left: 10px;
}

.pdding-all-md {
  padding: 20px;
}
.pdding-top-md {
  padding-top: 20px;
}
.pdding-right-md {
  padding-right: 20px;
}
.pdding-bottom-md {
  padding-bottom: 20px;
}
.pdding-left-md {
  padding-left: 20px;
}

.pdding-all-lg {
  padding: 40px;
}
.pdding-top-lg {
  padding-top: 40px;
}
.pdding-right-lg {
  padding-right: 40px;
}
.pdding-bottom-lg {
  padding-bottom: 40px;
}
.pdding-left-lg {
  padding-left: 40px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */



/******
******
************************************ 1. HOME PAGE / FEED
******
******/
.home-page {
  background-size: 40px 40px;
  /*background-image: linear-gradient(to right, rgba(0,0,0,.05) 1px, transparent 1px),*/
  /*linear-gradient(to bottom, rgba(0,0,0,.05) 1px, transparent 1px);*/
  background-attachment: fixed;
  background-color: #;
}

.feed-toggle {
  background-color: rgba(255,255,255,.95);
}

.no-results-module {
  text-align: center;
  padding: 40px;
  opacity: .7;
}
/******
******
************************************ 2. PROFILE
******
******/
.profile-page {
}
.profile-data-module {
  margin: 10px 20px 10px 0;
}
.profile-info {
  padding: 0 20px;
  max-width: 600px;
  width: 600px;
}
.user-action {
  max-width: 600px;
}

.profile-page .user-info {
  background: white;
  padding: 20px 0 0;
}
.profile-page .user-info .user-img {
  background: #E6E7E8;
  margin: 10px 0;
  object-fit: cover;
  width: 120px;
  height: 120px;
}
.profile-page .user-info .user-data {
  background: white;
  padding: 0;
}
    .user-name {
      font-size: 20px;
      font-weight: 700;
      margin: 10px 0 0;
    }
    .user-bio {
      font-size: 16px;
      font-weight: 300;
      font-family: Helvetica, sans-serif;
    }
.profile-page .profile-followers-wrapper {
  font-size: 13px;
}

.nav-pills.outline-active .nav-link {
  padding: 5px 0px;
  margin-right: 20px;
  color: #526166;
  opacity: .5;
}
.nav-pills.outline-active .nav-link.active,
.nav-pills.outline-active .nav-link:hover {
    color: #0C111D !important;
    opacity: 1;
    background-color: transparent !important;
}
.nav-pills .nav-item {
    height: 30px;
    display: inline-block;
    width: auto;
    white-space: normal;
    float: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
li.nav-divider {
    height: 10px;
    border-right: 2px solid rgba(0,0,0,.1);
    margin-right: 20px;
    display: inline-block;
    width: auto;
    white-space: normal;
    float: none;
}


/******
******
************************************ 3. PROFILE PAGE
******
******/


.profile-page .nav-pills.outline-active .nav-link {

}
.profile-page .nav-pills .nav-link {
    display: block;
    font-family: 'Arimo', sans-serif;
}
.page-common.settings-page {
  margin: 0;
  padding: 0;
}
.settings-wrapper {
    width: 355px;
    margin: 0 auto;
}

.profile-page .feed-toggle {
  width: 100%;
  margin: 0;
  padding: 20px;
}
.profile-page .feed-toggle .nav {
  height: 26px;
}
.profile-feed {
    width: 100%;
    margin: 0 auto;
}
.profile-image {
  overflow: hidden;
      border-radius: 222px;
      margin: 0 auto 20px;
      width: 200px;
      height: 200px;
      border: 1px solid rgba(0,0,0,.1);
}
.profile-image img {
  width: 100%;
}
/******
******
************************************ 3. FOLLOWER PAGE
******
******/

.list-row {
  width: 100%;
  max-width:960px;
}

.list-row > div {
}
.list-row > div:last-child {
  margin-right: 0;
}



/******
******
************************************ 4. Article
******
******/

.comment-wrapper {
  border-radius: 0;
}
.article-page .text-subject-name {
    -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.review-now-wrapper {
  border: 1px solid #E2E2E2;
  background: white;
  color: #48BC23;
  font-weight: 400;
  padding: 10px;
  width: 100%;
  max-width: 355px;
  margin: 20px auto;
  /* box-shadow: 0 0 0 4px rgba(107,255,78,.5); */
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
    font-size: 14px;
}

.article-page .bttn-review.inside {
  display: none;
}
.review-now-wrapper:hover {
  background: rgba(107,255,78,.2);
}
.review-now-wrapper img {
  margin-top: -3px;
}


/******
******
************************************ 5. Auth
******
******/
.auth-page {
  margin: 20px 40px;
}





/******
******
************************************ 6. Editor
******
******/
.editor-page {
  
}
.editor-page.create-page {
  margin: 0;
}
.editor-page .form-control {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    line-height: 1.25;
    color: #55595c;
    background-color: transparent;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    font-weight: 100;
    height: 100%;
}
.editor-page .form-control.no-border {
  border: none;
}
.editor-page .form-control.subtle-input {
  border: none;
  font-size: 14px;
}
.editor-page .form-group.apple {
  margin: 10px 0;
}
.editor-page .form-control.caption {
  border: none
}
.editor-page .rating-container {
    width: 100%;
    padding: 20px;
    /*border: #E6E7E8 1px solid;*/
    margin-left: 0;
    margin-bottom: 0;
    height: 100px;
}
.editor-page .rating-graphic {
  margin-right: 0;
}
.form-group.no-margin {
  margin-bottom: -1px !important;
}

.v2-form .form-group {
  width: 100%;
  margin: 0;
}


.create-wrapper {
  max-width: 600px;
  width: 100%;

}
.editor-page .upload-image-button {

}








.rating-description {
  min-width: 70px;
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}
.square-wrapper {
}
.main-search-field {
  /* Rectangle: */
  background: transparent;
  /*box-shadow: 0 8px 24px 0 rgba(0,0,0,0.06);*/
  border-radius: 2px;
  padding: 4px 20px;
  height: 65px;
}
.main-search-inner {
  font-size: 24px;
  text-align: center;
}
.editor-page .text-page-title {
  font-size: 20px;
    font-weight: 700;
    width: auto;
    text-align: center;
    border-bottom: 3px #161F34 solid;
    margin: auto;
}
.editor-page .text-page-title.unselected {
  font-weight: 400;
  opacity: .7;
  border-bottom-color: white;
}

.editor-page .text-page-subtitle {
  text-align: left;
  text-align: left;
  max-height: 200px;
  overflow: auto;
}
.create-new-link {
  font-size: 11px;
  text-align: right;
  margin-top: 20px;
}
.popup-overlay {
/*  position: absolute;
  top: 0; right: 0; left:0; bottom: 0;
  background-color: rgba(0,0,0,.8);
  z-index: 10;*/
  margin-top: 10px;
}
.create-popup {
  height: auto;
  padding: 0 20px 20px;
}
.create-subject-image.subject-image {
}
.create-popup .text-subject-name {
  margin: 0 0 10px;
  font-size: 24px;
}
.create-popup .text-page-subtitle {
  width: auto;
}
/******
******
************************************ 7. Comments
******
******/
.comment-wrapper.card {
  border: none;
  margin: 0;
  background-color: transparent;
}
.comment-wrapper.card .card-footer {
  background-color: transparent;
  padding: 0px;
  border-top: none;
  height: auto;
}
.comment-author-img {
  width: 30px;
  height: 30px;
  border-radius: 32px;
  border: 1px solid white;
  overflow: hidden;
}
.comment-author-img img {
  width: 30px;
  height: 30px;
  border-radius: 32px;
}
.comment-preview-wrapper {
  background: rgba(255,255,255,1);
  border-radius: 4px;
  padding: 4px 10px;
}
.comment-text {
  max-width: 100px;
}
.comment-wrapper.card .comment-data {
}
.comment-author {
    margin-right: 5px;
    color: black;
    font-weight: 700;
}
.comment-wrapper .card-text {
  margin: 0;
  margin-right: 20px;
}
.comment-wrapper.card .date-posted {
  font-size: 10px;
  margin-left: 0;
  margin-top: 1px;
  opacity: .3;
}
.comment-wrapper .comment-block {
  padding: 5px 20px;
}
.comments-module .comment-input-wrapper {
  outline: none;
}
.comments-module .comment-input-wrapper:focus {
  border: 1px solid rgba(0,0,0,.1);
}
.comments-module .comment-input-wrapper .comment-input {
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    width: 100%;
    padding: 0 0 10px;
    outline-width: 0px;
    margin-top: 10px;
    box-shadow: none;
}
.comment-data .mod-options {
    color: black;
    font-size: 10px;
    display: inline-block;
    margin: 0 10px;
    margin-top: 4px;
    visibility: hidden;
    opacity: .5;
    height: 20px;
}
.comment-data:hover .mod-options {
    visibility: visible;
}
.article-page .comment-form .card-block {
    padding: 5px 0;
    width: 100%;
    height: 50px;
}

.comment-row {
    line-height: 1.6em;
    font-size: 14px;
    font-weight: 300;
    color: #373a3c;
}

.no-click {
  pointer-events: none;
}




.item-photo {
  width: 70px;
  height: 70px;
  border-radius: 0px;
  overflow: hidden;
  margin-right: 0px;
}
.item-photo img {
  object-position: center; /* Center the image within the element */
  height: 70px;
  width: 70px;
  object-fit: cover;
}



.error-messages {
  color: #F59983;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 0;
  padding: 20px 0 0;
}
.error-messages li {
  list-style: none;
  padding: 10px 0;
}



.comments-preview-wrapper {
  padding: 10px 20px;
  font-weight: 100;
  margin-top: -1px;
  font-size: 14px;
}
.commenter-pic {
  border-radius: 50px;
  width: 32px;
  height: 32px; 
  overflow: hidden;
  margin: 0px 10px 0 0;
}
.commenter-pic img {
    object-fit: cover;
    width: 32px;
    height: 32px;
}
.comment-counter {
  font-size: 11px;
  font-weight: 400;
  text-align: left; 
  margin-top: 12px;
  display: inline-block;
  /*border-top: 1px solid #EBEBEB;*/
}



/******
******
************************************************ COMMENTS 
******
******/
.comments-container {
  width: 355px;
  margin-top: -1px;
}
.comments-module {
  width: 100%;
  max-width: 800px;
}
.delete-wrapper {
 position: relative;
    width: 40px;
    height: 40px;
    background: red;

}
.delete-button {
    display: inline-block;
    font-size: 1em;
    opacity: .5;
    height: 20px;
    width: 20px;
}
.delete-button:hover {
  opacity: .8;
}
.reviews-wrapper:hover .delete-button {
    visibility: visible;
} 


.inbox-page .user-image {
  width: 40px;
  height: 40px;
}





.back-to-top {
    color: #fff;
    text-align: center;
    font-size: 20px;
    bottom: 20px;
    position: fixed;
    right: 40px;
    display: none;
    padding-top: 13px;
    height: 40px;
    width: 40px;
    z-index: 1000;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 9px rgba(153, 153, 153, .4);
    background-image: url(/img/icons/icon32_arrow-up.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
}
.back-to-top:hover {
    background-color: #68E4E7;
}


.content-wrapper.map-on {
  width: 500px;
}
.content-wrapper.map-on .tip__image-module {
    height: 200px;
    width: 200px;

}
.content-wrapper.map-on .itinerary__cover.header-height,
.content-wrapper.map-on .itinerary__cover__image.header-height {
  height: 180px;
}


