.tip__info-module {
	padding: 10px 15px;
}
.tip__save {
}

.tip__data {
	padding: 20px 0;
}
.page-subject .tip-subject .tip__title-module {
}
.page-subject .itinerary__tipslist .vb--save,
.page-subject .itinerary__tipslist .vb__label {
	display: none;
}
}
.page-subject .itinerary__tipslist .tip__title-module {
	display: none;
}
