.tips-wrapper {
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
}
.tip-container {
	max-width: 800px;
	width: 100%;
}
.tip_title-module {

}
.tip__title {

}
.tip__address {
	margin-top:-5px;
	height: 26px;
}
.tip__image-module {
	height: 360px;
	width: 800px;
}
.tip__image-module img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 0 -1 rgba(0,0,0,.1) inset;
}

.tip__caption {
	width: 100%;
}
.tip__caption-module {

}
.tip__rating-module {

}
.tip__caption {

}
.tip__timestamp {
}





.edit-tip__dropzone {
    color: rgba(6,175,227,0.5);
    background: rgba(6,175,227,0.1);
    position: relative;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    background: white;
    height: 72px;
}
.edit-tip__dropzone:hover {
	opacity: .9;
}
.edit-tip__dropzone__touch {
	width: 100%;
    height: 92px;
}
.edit-tip__dropzone ul {
	position: absolute;
	left: 0;
	top: 60px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	opacity: .4;
}
.edit-tip__rating-total {
	margin: 30px 0 0 6px;
    font-size: 16px;
}

input.edit-tip__name {
	font-size: 32px;
}
input.edit-tip__address {
	font-size: 14px;
}
input.edit-tip__rating {
	font-size: 24px;
}
.edit-tip__caption {
	border: none;
	padding: 10px 0;
}
.input--search {
	margin-bottom: 0 !important;
}
.tip__author-photo {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	overflow: hidden;
	background-color: #ccc;
	margin-top: 5px;
}