.tip-wrapper {
	background: transparent;
    margin: 0;
    /*border-bottom: 1px solid #D5E3E5;*/
    padding: 10px 20px;
} 
.tip-wrapper:first-child {
  padding-top: 20px;
}
.tip-wrapper:last-child {
  padding-bottom: 20px;
}

.page-itinerary .tip-container {
/*.reviewpreview-wrapper .tip-container*/ 
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 12px;
  overflow: hidden;
}
.page-itinerary .tip-container:hover,
.page-itinerary .tip-selected .tip-container {
  /*border: 1px solid #3DCBF3;*/
  cursor: pointer;
}


.tip-wrapper .tip-map-marker {
  width: 32px;
  height: 32px;
  background-image: url(/img/graphics/tip-map-marker.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .4;
  margin-right: 10px;
  display: none;
}
.tip-wrapper.tip-selected .tip-map-marker,
.tip-wrapper .tip-map-marker:hover {
  opacity: 1;
  background-image: url(/img/graphics/tip-map-marker.png);
  background-size: 32px 32px;
}

.tip-wrapper.tip-selected .tip__order-count {
  color: #3DCBF3;
  opacity: 1;
}
.tip-container {
	width: 100%;
	padding: 0;
  background-color: white;
}
.page-subject .tip-container {
  padding: 0;
}
.page-subject .tip-wrapper {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.tip-inner {
}
.tip__data-module {
}
.tip__info-module li {
  list-style: none;
}
.tip-wrapper .tip__cta-box { 
	padding: 0;
    margin-top: auto;
}
.tip-wrapper .tip__cta-box .vb {
  height: 60px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0;
}


.tip__title {
	padding-right: 10px;
	margin-bottom: 0px;
}
.tip__address {
	margin-top:-1px;
}
.tip__right-module {
}
.tip__header-wrapper {
	margin-bottom: 0px;
	margin-right: 0px;
}

.tip__image-rating {
	margin-right: 30px;
}
.tip__image-module {
  height: 178px;
  width: 110px;
	flex-shrink: 0;
	position: relative;
  height: 220px;
  width: 100%;
}
.tip__image-module:hover {
	cursor: pointer;
	opacity: .9;
}
.tip__image-module img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 0 -1 rgba(0,0,0,.1) inset;
}
.tip__order-count {
  font-weight: 600 !important;
  margin-right: 10px;
  display: inline-block;
  opacity: 1;
}
.tip__content-wrapper {
	padding-left: 0;
	width:100%;
}
.tip__content-inner {
  padding: 30px;
}
.page-subject .tip__content-wrapper {
  padding-left: 0;
}

.tip__caption {
	width: 100%;
  /*font-family: 'Rokkitt', sans-serif !important;*/
}
.page-subject .tip__caption {
  font-size: 22px;
  line-height: 30px;
}
.tip__caption-module {
  margin-top: 10px;
}

.tip__timestamp {
}
.tip__photo-count {
    color: white;
    position: absolute;
    right: 0px;
    bottom: 10px;
    font-weight: 300;
    font-size: 12px;
    background: rgba(0,0,0,.7);
    padding: 2px 12px;
    border-radius: 0;
}
.tip-count-0,
.tip-count-1 {
  display: none;
}

.add-tip-wrapper {
	background: #FFFFFF;
	margin: 20px;
}

.edit-tip_wrapper {
	padding: 10px 20px;
	border: 1px solid rgba(0,0,0,.1);
}

.edit-tip__dropzone {
    background: rgba(6,175,227,0.1);
    background: transparent;
    position: relative;
    cursor: pointer;
    background: transparent;
    height: auto;
    padding: 10px;
}
.edit-tip__dropzone:hover {
	opacity: .9;
}
.edit-tip__dropzone__touch {
	width: 100%;
  
}
.add-photo-wrapper {
    position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  background-color: rgba(0,0,0,.4)
}
.edit-tip__dropzone ul {
	color: black;
	font-size: 10px;
	opacity: .4;
	list-style: none;
	width: 120px;
}
.edit-tip__dropzone li {

}
.edit-tip__rating-total {
	margin: 30px 0 0 6px;
    font-size: 16px;
}
.edit-tip__upload {
	color: #08427B;
	opacity: .5;
	font-weight: 100;
	font-family: Helvetica, sans-serif;
}
.edit-tip__address {
	font-size: 13px;
}
input.edit-tip__name {
	font-size: 32px;
}
input.edit-tip__address {
	font-size: 14px;
}
input.edit-tip__rating {
	font-size: 24px;
	width: 120px;
}
.edit-tip__rating.field-wrapper {
	width: 60px;
}
.edit-tip__caption {
	border: none;
	padding: 0;
}
.search-wrapper {
  position: relative;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 18px;
  z-index: 2;
  pointer-events: none;
}
.input--search {
  margin-bottom: 0 !important;
}
.input--search input {
  text-indent: 62px;
  border: 1px solid rgba(0,0,0,.1) !important;
}
.input--search input:hover {
  border: 1px solid rgba(0,199,205,.3) !important;
  cursor: text;
  transition: all 0.23s ease-in-out 0s;
}
.input--search input:focus {
  border: 1px solid rgba(0,199,205,1) !important;
  transition: all 0.23s ease-in-out 0s;
}
.tip__author-photo {
/*	width: 40px;
	height: 40px;
	border-radius: 100px;
	overflow: hidden;
	background-color: #ccc;
	margin-top: 5px;*/
}

.tip-wrapper .cta-container {
/*-webkit-flex-direction: column;*/
   /*flex-direction: column;*/
}
.tip-wrapper .cta-wrapper .cta-icon {
	margin-right: 10px;
}
.tip-info-col {
    width: 460px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.rating-star-icon {
/*	margin-top: -30px;
	margin-left: -10px;*/
}

.v2-type-rating--total {
  color: black;
  display: inline;
}


.tip__rating {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 6px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 5px;
    border-radius: 0;
    width: 42px;
    height: 25px;
    margin: 0;
    margin-right: 0;
}



.tip__rating-module {
	width: auto;
	border: none;
	color: black !important;
	height: 30px;
	border-radius: 0px;
	overflow: hidden;
  border: 2px solid rgba(0,0,0,.1);
  line-height: 20px;
  margin-top: 5px;
}
.tip__rating-module select {
	border-radius: 0px !important;
}
.tip__rating-module--0 select,
.tip__rating-module--1 select,
.tip__rating-module--2 select,
.tip__rating-module--3 select,
.tip__rating-module--4 select,
.tip__rating-module--0,
.tip__rating-module--1,
.tip__rating-module--2,
.tip__rating-module--3,
.tip__rating-module--4,
.tip__rating-module--0 .tip__rating,
.tip__rating-module--1 .tip__rating,
.tip__rating-module--2 .tip__rating,
.tip__rating-module--3 .tip__rating,
.tip__rating-module--4 .tip__rating {
	border-color: #FDAB9B;
}
.tip__rating-module--5 select,
.tip__rating-module--6 select,
.tip__rating-module--5,
.tip__rating-module--6,
.tip__rating-module--5 .tip__rating,
.tip__rating-module--6 .tip__rating {
	border-color: #D5E3E5;
}
.tip__rating-module--7 select,
.tip__rating-module--7 .tip__rating,
.tip__rating-module--7,
.tip__rating-module--8 select,
.tip__rating-module--8,
.tip__rating-module--8 .tip__rating {
	border-color: #B3FBFF;
}
.tip__rating-module--9,
.tip__rating-module--10,
.tip__rating-module--9 .tip__rating,
.tip__rating-module--10 .tip__rating,
.tip__rating-module--9 select,
.tip__rating-module--10 select {
	border-color: #6EFC98;
}



select {
/*  height: 50px;
  font-size: 20px;
  background: transparent;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 2px !important;
  border: 0;
  outline: 1px inset rgba(0,0,0,.1);
  outline-offset: -1px;
  width: 80px;
  text-indent: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5em;
  padding-right: 1.5em;
  background: linear-gradient(45deg, transparent 50%, black 50%), linear-gradient(135deg, black 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 21px) calc(1em + 2px), calc(100% - 16px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;*/
/*
  height: 48px;
  font-size: 16px;
  background: transparent;
  border-radius: 2px !important;
  border: 0;
  width: 48px;
  padding: 30px;
  background-repeat: no-repeat;
  text-indent: 6px;*/

    height: 20px;
    font-size: 13px;
    background: transparent;
    -webkit-border-radius: 32px !important;
    -moz-border-radius: 32px !important;
    border-radius: 32px !important;
    border: 0;
    outline: 0px inset rgba(0,0,0,0);
    outline-offset: -1px;
    width: auto;
    text-indent: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 5px;
    background: linear-gradient(45deg, transparent 50%, transparent 50%), linear-gradient(135deg, transparent 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
    background-position: calc(100% - 0px) calc(0em + 0px), calc(100% - 0px) calc(0em + 0px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    text-align: center;
    text-align-last: center;
    margin-right: 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

select:hover {
  opacity: .8
}




.v2-type-rating--0,
.v2-type-rating--1,
.v2-type-rating--2,
.v2-type-rating--3,
.v2-type-rating--4,
.tip__rating-module--0 select,
.tip__rating-module--1 select,
.tip__rating-module--2 select,
.tip__rating-module--3 select,
.tip__rating-module--4 select {
  color: #0C0D10;
}
.v2-type-rating--9,
.v2-type-rating--10 {
  color: #0C0D10;
}
.v2-type-rating--5,
.v2-type-rating--6,
.v2-type-rating--7,
.v2-type-rating--8, {
  color: #0C0D10;
}

.reviewpreview-wrapper {
  padding: 0px;
}
.reviewpreview-wrapper .tip-container {
    padding: 0;
}
.guide-list {
  margin-top: 10px;
}
.guide-count-0 {
  display: none;
}
.reviewpreview-wrapper .guide-link {
  border-right: 1px solid rgba(0,0,0,.2);
  margin-right: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
.reviewpreview-wrapper .guide-link:last-child {
  border-right: none;
  margin-right: 0px;
  padding-right: 20px;
}