.tip-wrapper {
	background: #FFFFFF;
    margin: 0;
    border-bottom: 1px solid #D5E3E5;
} 
.tip-container {
	width: 100%;
	padding: 30px 20px;
}
.tip-inner {
}
.tip__data-module {
}
.tip-wrapper .tip__cta-box { 
	padding: 0;
    margin-top: auto;
}

.tip__title {
	padding-right: 20px;
	margin-bottom: 0px;
}
.tip__address {
	margin-top:-1px;
}
.tip__right-module {
}
.tip__header-wrapper {
	margin-bottom: 10px;
	margin-right: 0px;
}

.tip__image-rating {
	margin-right: 30px;
}
.tip__image-module {
	height: 100px;
	width: 100px;
	flex-shrink: 0;
	position: relative;
	/*box-shadow: 0 14px 24px 0 rgba(0,0,0,0.1);*/
}
.tip__image-module:hover {
	cursor: pointer;
	opacity: .9;
}
.tip__image-module img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: center;
    box-shadow: 0 0 0 -1 rgba(0,0,0,.1) inset;
}
.tip__order-count {
  font-weight: 600 !important;
  margin-right: 10px;
  display: inline-block;
  opacity: .4;
}
.tip__content-wrapper {
	padding-left: 30px;
	width:100%;
}

.tip__caption {
	width: 100%;
	max-width: 680px;
}
.tip__caption-module {
}

.tip__timestamp {
}
.tip__photo-count {
    color: white;
    position: absolute;
    right: 0px;
    bottom: 10px;
    font-weight: 300;
    font-size: 12px;
    background: rgba(0,0,0,.7);
    padding: 2px 12px;
    border-radius: 0;
}


.add-tip-wrapper {
	background: #FFFFFF;
	margin: 20px;
}

.edit-tip_wrapper {
	padding: 10px 20px;
	border: 1px solid rgba(0,0,0,.1);
}

.edit-tip__dropzone {
    background: rgba(6,175,227,0.1);
    background: transparent;
    position: relative;
    cursor: pointer;
    background: transparent;
    height: auto;
    padding: 10px;
}
.edit-tip__dropzone:hover {
	opacity: .9;
}
.edit-tip__dropzone__touch {
	width: 100%;
}
.edit-tip__dropzone ul {
	color: black;
	font-size: 10px;
	opacity: .4;
	list-style: none;
	width: 120px;
}
.edit-tip__dropzone li {

}
.edit-tip__rating-total {
	margin: 30px 0 0 6px;
    font-size: 16px;
}
.edit-tip__upload {
	color: #08427B;
	opacity: .5;
	font-weight: 100;
	font-family: Helvetica, sans-serif;
}
.edit-tip__address {
	font-size: 13px;
}
input.edit-tip__name {
	font-size: 32px;
}
input.edit-tip__address {
	font-size: 14px;
}
input.edit-tip__rating {
	font-size: 24px;
	width: 120px;
}
.edit-tip__rating.field-wrapper {
	width: 60px;
}
.edit-tip__caption {
	border: none;
	padding: 0;
}
.search-wrapper {
  height: 60px;
  background: white;
  position: relative;
  margin-top: 10px;

}
.search-icon {
  position: absolute;
  left: 30px;
  top: 12px;
  z-index: 2;
  pointer-events: none;
}
.input--search {
  margin-bottom: 0 !important;
  border: 1px solid rgba(0,0,0,.1);
}
.input--search input {
  text-indent: 62px;
}
.tip__author-photo {
/*	width: 40px;
	height: 40px;
	border-radius: 100px;
	overflow: hidden;
	background-color: #ccc;
	margin-top: 5px;*/
}

.tip-wrapper .cta-container {
/*-webkit-flex-direction: column;*/
   /*flex-direction: column;*/
}
.tip-wrapper .cta-wrapper .cta-icon {
	margin-right: 10px;
}
.tip-info-col {
    width: 390px;
    height: 100%;
/*    position: absolute;
    left: 0;
    bottom: 0;
    top: 70px;*/
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.rating-star-icon {
/*	margin-top: -30px;
	margin-left: -10px;*/
}

.v2-type-rating--total {
  color: black;
  display: inline;
}


.tip__rating {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 6px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 5px;
    border-radius: 0;
    width: 42px;
    height: 32px;
    margin: 0;
    margin-right: 0;
    border-radius: 10px;
}



.tip__rating-module {
	width: auto;
	border: none;
	color: black !important;
	height: 32px;
	border-radius: 10px;
	overflow: hidden;
  border: 1px solid rgba(0,0,0,.05);
}
.tip__rating-module select {
	border-radius: 0px !important;
}
.tip__rating-module--0 select,
.tip__rating-module--1 select,
.tip__rating-module--2 select,
.tip__rating-module--3 select,
.tip__rating-module--4 select,
.tip__rating-module--0 .tip__rating,
.tip__rating-module--1 .tip__rating,
.tip__rating-module--2 .tip__rating,
.tip__rating-module--3 .tip__rating,
.tip__rating-module--4 .tip__rating {
	background-color: #FFA6B4;
  background-color: #FC8B87;
	background-color: #FDAB9B;
}
.tip__rating-module--5 select,
.tip__rating-module--6 select,
.tip__rating-module--5 .tip__rating,
.tip__rating-module--6 .tip__rating {
	background-color: #D5E3E5;
}
.tip__rating-module--7 select,
.tip__rating-module--7 .tip__rating,
.tip__rating-module--8 select,
.tip__rating-module--8 .tip__rating {
	background-color: #B3FBFF;
}
.tip__rating-module--9 .tip__rating,
.tip__rating-module--10 .tip__rating,
.tip__rating-module--9 select,
.tip__rating-module--10 select {
	background-color: #6EFC98;
}



select {
/*  height: 50px;
  font-size: 20px;
  background: transparent;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 2px !important;
  border: 0;
  outline: 1px inset rgba(0,0,0,.1);
  outline-offset: -1px;
  width: 80px;
  text-indent: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5em;
  padding-right: 1.5em;
  background: linear-gradient(45deg, transparent 50%, black 50%), linear-gradient(135deg, black 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 21px) calc(1em + 2px), calc(100% - 16px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;*/
/*
  height: 48px;
  font-size: 16px;
  background: transparent;
  border-radius: 2px !important;
  border: 0;
  width: 48px;
  padding: 30px;
  background-repeat: no-repeat;
  text-indent: 6px;*/

  height: 32px;
  font-size: 14px;
  background: transparent;
  -webkit-border-radius: 32px !important;
  -moz-border-radius: 32px !important;
  border-radius: 32px !important;
  border: 0;
  outline: 0px inset rgba(0,0,0,0);
  outline-offset: -1px;
  width: 42px;
  text-indent: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 5px;
  background: linear-gradient(45deg, transparent 50%, transparent 50%), linear-gradient(135deg, transparent 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 0px) calc(0em + 0px), calc(100% - 0px) calc(0em + 0px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  text-align: center;
  text-align-last: center;
  margin-right: 0;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

select:hover {
  opacity: .8
}




.v2-type-rating--0,
.v2-type-rating--1,
.v2-type-rating--2,
.v2-type-rating--3,
.v2-type-rating--4,
.tip__rating-module--0 select,
.tip__rating-module--1 select,
.tip__rating-module--2 select,
.tip__rating-module--3 select,
.tip__rating-module--4 select {
  color: white;
}
.v2-type-rating--9,
.v2-type-rating--10 {
  color: #0C0D10;
}
.v2-type-rating--5,
.v2-type-rating--6,
.v2-type-rating--7,
.v2-type-rating--8, {
  color: #0C0D10;
}