/****** 
******
************************************ TYPOGRAPHY SHARED
******
******/

body a {
  color: #292F3D;

  -webkit-transition: none;
  transition: none;
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transition: none;
  transition: none;
}
.comment-row a {
  color: rgba(48,193,214,1) !important;
}
body a:hover {
  opacity: .9;
}
body a.text-hover:hover {
  text-decoration: underline;
}
.strong {
font-weight: 500;
}

form {
  width: 100%;
  background-color: transparent;
}



.font--alpha {
}
.font--beta {
}


.center-text {
  text-align: center !important;
}
.left-text {
  text-align: left !important;
}
.right-text {
  text-align: center !important;
}
.no-uppercase,
.vb.no-uppercase {
  text-transform: none !important;
}
textarea {
    resize: none;
}
.resize-ok textarea {
    resize: vertical;
}
.
.weight-300 {
  font-weight: 300 !important;
}
.weight-400 {
  font-weight: 400 !important;
}
.weight-500 {
  font-weight: 500 !important;
}
.weight-700 {
  font-weight: 700 !important;
}
.co-type--italic {
  font-style: italic;
}

.mod-options .v2-type-caption {
  cursor: pointer;
}
.make-link:hover {
  cursor: pointer;
}
.danger-hover:hover {
  color: red !important;
  cursor: pointer;
}

.text-shadow {
  text-shadow: 0 0 15px rgba(96,57,49,0.50);
}
.tips-count {
  font-size: 30px;
}




/* CHANGE ME FOR COLOR TEST!!!! */
.navigation-bar .nav-module.active,
.navigation-bar .nav-module:hover,
.navigation-bar .nav-module.nav-editor.active,
.nav-pills.outline-active .nav-link.active,
.nav-pills.outline-active .nav-link:hover  {

  transition: all 0.23s ease-in-out 0s;
}
.navigation-bar .nav-module.active.create:hover,
.navigation-bar .nav-module.create:hover,
.navigation-bar .nav-module.active.create,
.navigation-bar .nav-module.nav-editor.active.create {
  border-bottom: 2px solid blue;
  color: #00E2C8;
  color: blue;
  padding-top: 0px;
}


.fill--facebook {
  background-color: rgb(59, 89, 152) !important;
}
.fill--twitter {
  background-color: rgb(0, 172, 237) !important;
}



/******
******
************************************ PLACEHOLDERS
******
******/

::-moz-placeholder { /* Firefox 19+ */
  color: #3DCBF3 !important; /*DARK BLUE*/
  color: #97B4FF !important; /*DARK BLUE*/
  color: #000 !important; /*DARK BLUE*/
  opacity: .6;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Karla';
}
:-ms-input-placeholder { /* IE 10+ */
  color: #3DCBF3 !important; /*DARK BLUE*/
  color: #97B4FF !important; /*DARK BLUE*/
  color: #000 !important; /*DARK BLUE*/
  opacity: .6;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Karla';
}
:-moz-placeholder { /* Firefox 18- */
  color: #3DCBF3 !important; /*DARK BLUE*/
  color: #97B4FF !important; /*DARK BLUE*/
  color: #000 !important; /*DARK BLUE*/
  opacity: .6;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Karla';
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3DCBF3 !important; /*DARK BLUE*/
  color: #97B4FF !important; /*DARK BLUE*/
  color: #000 !important; /*DARK BLUE*/
  opacity: .6;
  font-weight: 400;
  font-size: 12px;
  font-family: 'Karla';
}


.co-sidebar ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3DCBF3 !important; /*DARK BLUE*/
  color: #97B4FF !important; /*DARK BLUE*/
  color: rgba(0,0,0,.3) !important; /*DARK BLUE*/
  opacity: 1;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-family: 'Karla';
}



:focus {
      outline: -webkit-focus-ring-color auto 0px;
}
