/****** 
******
************************************ TYPOGRAPHY SHARED
******
******/

a {
  color: #1D2E58;
}

.text-subject-name {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}
.text-category {
  font-size: 16px;
  opacity: .4;
  font-weight: 100;
}
.text-page-title {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
}
.text-page-subtitle {
  font-size: 14px;
  font-weight: 100;
  opacity: .5;
  width: 100%;
  max-width: 600px;
}
.text-section-header {
  margin: 5px 0;
}
form {
  width: 100%;
}
.center-text {
  text-align: center !important;
}

textarea {
    resize: none;
}
.v2-type--italic {
  font-style: italic;
}
.v2-type-body1 {
  /* “The almond milk ice: */
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 26px;
  font-family: Helvetica, sans-serif;
}
.v2-type-body2 {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
  font-family: Helvetica, sans-serif;
}
.v2-type-body3 {
  /* “The almond milk ice: */
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 32px;
  font-family: Helvetica, sans-serif;
}
.v2-type-rating {
  /* “The almond milk ice: */
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 26px;
  font-family: Helvetica, sans-serif;
}
.v2-type-rating--1,
.v2-type-rating--2,
.v2-type-rating--3,
.v2-type-rating--4 {
  color: red;
}
.v2-type-rating--9,
.v2-type-rating--10 {
  color: #00CD8D;
}
.v2-type-rating--total {
  color: black;
  display: inline;
}
.v2-type-caption {
  /* “The almond milk ice: */
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 26px;
  font-family: Helvetica, sans-serif;
  color: black;
}
.v2-type-mono {
  /* “The almond milk ice: */
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 26px;
  /*font-family: 'Inconsolata', monospace;*/
  color: black;
}
.v2-type-mono.mono-sm {
  font-size: 12px;
}
.v2-type-h1 {
  /* H1 - Ratings: */
  font-weight: 700;
  font-size: 39px;
  letter-spacing: 1px;
  line-height: 48px;
  font-family: 'Arimo', sans-serif;
}
.v2-type-h2 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 24px;
  font-family: 'Arimo', sans-serif;
}
.v2-type-page-header {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Arimo', sans-serif;
}
.v2-type-h3 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
}
.v2-type-h4 {
    opacity: 1;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 400;
    width: 100%;
}
.v2-type-h5 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.v2-type-h6 {
  /* H4 - Categories: */
    opacity: .8;
    font-size: 22px;
    letter-spacing: 0.5px;
    line-height: 32px;
    font-weight: 100;
    display: inline-block;
}
.geo-type {
  font-family: "Arimo";
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  line-height: 14px;
  max-width: 260px;
}

.tips-count {
  font-size: 30px;
}

.color--primary {
  color: #1E479A !important;
}
.color--success {
  color: #63A652 !important;
  /*color: #73FF96 !important;*/
}
.color--neon {
  color: #73FF96 !important;
}

:focus {
      outline: -webkit-focus-ring-color auto 0px;
}
